Repository falcosecurity/falco-website, pull requests merged in 2020-01, with the labels that each got.

#110 Adding Runtime Security Blog
  content/en/blog/runtime-security.md
Labels: approved, dco-signoff: yes, kind/content, lgtm, size/XL

#111 Remove Runtime Security Blog
  content/en/blog/runtime-security.md
Labels: approved, area/blog, dco-signoff: yes, kind/cleanup, kind/content, lgtm, size/XL

#113 docs(installation): install EPEL with the built-in command
  content/en/docs/installation.md
Labels: approved, area/documentation, dco-signoff: yes, kind/content, lgtm, size/XS

#115 update: build from source docs
  content/en/docs/source.md
Labels: approved, area/documentation, dco-signoff: yes, kind/content, lgtm, size/L

#118 Add sticky scroll for TOC
  themes/falco-fresh/assets/style.sass
  themes/falco-fresh/assets/toc.sass
  themes/falco-fresh/layouts/partials/docs/article.html
Labels: approved, dco-signoff: yes, lgtm, size/S

#114 Add docs for k8s event generator
  content/en/docs/event-sources/sample-events.md
Labels: approved, area/documentation, dco-signoff: yes, kind/content, lgtm, size/M

#120 Updating sign up
  config.yaml
  themes/falco-fresh/layouts/partials/signup.html
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, size/S

#121 Fix autofocus
  themes/falco-fresh/layouts/partials/signup.html
Labels: approved, dco-signoff: yes, kind/user-interface, lgtm, size/XS

#119 fix: wrong label for viewing logs
  content/en/docs/installation.md
Labels: approved, area/documentation, dco-signoff: yes, kind/bug, kind/content, lgtm, size/XS
