Repository falcosecurity/falco-website, pull requests merged in 2020-07, with the labels that each got.

#224 update: fix audit endpoint
  data/en/config.yaml
  data/jp/config.yaml
Labels: approved, area/documentation, dco-signoff: yes, kind/cleanup, kind/content, lgtm, size/XS

#216 update gRPC docs to the new gRPC APIs
  content/en/docs/grpc/_index.md
  content/en/docs/grpc/client-go.md
  content/en/docs/grpc/client-py.md
  content/en/docs/grpc/outputs.md
  content/en/docs/grpc/version.md
Labels: approved, area/documentation, dco-signoff: yes, kind/content, lgtm, size/M

#229 add blog detecting cve-2020-8557 using falco
  content/en/blog/detect-cve-2020-8557.md
Labels: approved, dco-signoff: yes, lgtm, size/L

#231 fix(content/en/docs): correct installation instructions for CentOS
  content/en/docs/installation.md
Labels: approved, area/documentation, dco-signoff: yes, kind/content, lgtm, size/M

#226 update(content/en/docs/running): add `SKIP_DRIVER_LOADER` option
  content/en/docs/running.md
Labels: approved, area/documentation, dco-signoff: yes, kind/content, lgtm, size/XS

#234 fix small typo
  content/en/docs/event-sources/drivers.md
Labels: approved, area/documentation, dco-signoff: yes, kind/content, lgtm, size/XS
