Repository falcosecurity/falco-website, pull requests merged in 2020-03, with the labels that each got.

#160 new(content/en/docs): add Python client docs
  content/en/docs/grpc/_index.md
  content/en/docs/grpc/client-python.md
Labels: approved, area/documentation, dco-signoff: yes, kind/cleanup, kind/content, lgtm, size/M

#151 Move _redirects file into static directory
  static/_redirects
Labels: approved, dco-signoff: yes, lgtm, size/XS

#162 new(blog): add content for minikube support for Falco
  content/en/blog/minikube-falco-kernel-module.md
Labels: approved, area/blog, dco-signoff: yes, kind/content, lgtm, size/L

#161 new(content/en/docs): running Falco in a Kind cluster
  content/en/docs/running.md
Labels: approved, area/documentation, dco-signoff: yes, kind/content, lgtm, size/S

#163 Docs describing k8s event generator yaml files
  content/en/docs/event-sources/sample-events.md
Labels: approved, area/documentation, dco-signoff: yes, kind/content, lgtm, size/S

#166 doc: update regression test section to use Python 3
  content/en/docs/source.md
Labels: approved, area/documentation, dco-signoff: yes, kind/content, lgtm, size/XS

#168 docs: updating docker run command for sample events
  content/en/docs/event-sources/sample-events.md
Labels: approved, area/documentation, dco-signoff: yes, kind/cleanup, kind/content, lgtm, size/XS

#169 new(blog): add content for Falco on Kind with Prometheus and Grafana
  content/en/blog/falco-kind-prometheus-grafana.md
Labels: approved, area/blog, dco-signoff: yes, kind/content, lgtm, size/L

#173 Add language toggler
  themes/falco-fresh/layouts/partials/language-toggler.html
  themes/falco-fresh/layouts/partials/navbar.html
Labels: approved, dco-signoff: yes, lgtm, size/S

#170 new: owner (leogr)
  OWNERS
Labels: approved, dco-signoff: yes, lgtm, size/XS

#158 fix rss feed to export full content of blog
  themes/falco-fresh/layouts/blog/section.rss.xml
Labels: approved, area/blog, dco-signoff: yes, kind/bug, lgtm, size/XS
