Repository falcosecurity/falco-website, pull requests merged in 2020-08, with the labels that each got.

#236 chore: bump falco version in docs
  config.yaml
Labels: approved, area/documentation, dco-signoff: yes, kind/bug, lgtm, size/XS

#237 docs: ubuntu 18.04 specific instructions
  content/en/docs/source.md
Labels: approved, area/documentation, dco-signoff: yes, kind/content, lgtm, size/S

#238 content: blog for 0.25.0
  content/en/blog/falco-0-25-0.md
Labels: approved, area/documentation, dco-signoff: yes, kind/content, lgtm, size/M

#239 fix: template title to include the page title and not just the website title
  themes/falco-fresh/layouts/_default/baseof.html
Labels: approved, dco-signoff: yes, kind/user-interface, lgtm, size/XS
