Repository falcosecurity/falco-website, pull requests merged in 2020-05, with the labels that each got.

#195 update(content): update driver load documentation with the new variables
  content/en/docs/event-sources/kernel-module.md
  content/en/docs/installation.md
Labels: approved, area/documentation, dco-signoff: yes, kind/content, lgtm, size/S

#200 new(content/en/blog): release post for 0.23.0
  content/en/blog/falco-0-23-0.md
Labels: approved, area/blog, dco-signoff: yes, kind/content, lgtm, size/M

#201 feat(docs): Updating scope
  content/en/blog/falco-and-kubernetes.md
  content/en/blog/falco-scope.md
  content/en/docs/_index.md
  content/en/docs/third-party.md
Labels: approved, dco-signoff: yes, lgtm, size/L

#203 feat(docs): Updating install info
  content/en/docs/installation.md
Labels: approved, area/documentation, dco-signoff: yes, lgtm, size/XS

#210 feat(docs): Update helm chart
  content/en/docs/third-party.md
Labels: approved, dco-signoff: yes, lgtm, size/XS

#212 docs(content/source): update link for python dependencies
  content/en/docs/source.md
Labels: approved, area/documentation, dco-signoff: yes, kind/content, lgtm, size/XS

#199 docs: gRPC unix socket usage
  content/en/docs/grpc/_index.md
  data/en/config.yaml
Labels: approved, area/documentation, dco-signoff: yes, kind/content, lgtm, size/S

#213 Fix old links to Kubernetes audit readme file
  content/en/docs/event-sources/kubernetes-audit.md
  content/jp/docs/event-sources/kubernetes-audit.md
Labels: approved, area/documentation, dco-signoff: yes, kind/content, lgtm, size/XS
