Repository falcosecurity/falco-website, pull requests merged in 2020-06, with the labels that each got.

#215 fix(docs): direct helm chart link
  content/en/docs/third-party.md
Labels: approved, area/documentation, dco-signoff: yes, kind/bug, lgtm, size/XS

#217 Minor docs updates: chart repo
  content/en/blog/minikube-falco-kernel-module.md
Labels: approved, area/blog, dco-signoff: yes, kind/cleanup, lgtm, size/XS

#218 fix(blog): Update helm instructions
  content/en/blog/falco-kind-prometheus-grafana.md
Labels: approved, area/blog, dco-signoff: yes, kind/cleanup, lgtm, size/S

#219 docs(content): add note when installing Falco with Helm on GKE
  content/en/docs/third-party.md
Labels: approved, area/documentation, dco-signoff: yes, kind/content, lgtm, size/XS

#220 feat(black-lives-mattter): Adding header to falco.org
  themes/falco-fresh/assets/fresh/partials/_sections.scss
  themes/falco-fresh/layouts/index.html
  themes/falco-fresh/layouts/partials/announce.html
Labels: dco-signoff: yes, kind/content, size/L

#222 fix(content/en|jp/docs/rules): update list of ignored syscalls
  content/en/docs/rules/_index.md
  content/jp/docs/rules/_index.md
Labels: approved, area/documentation, dco-signoff: yes, kind/bug, kind/content, lgtm, size/XS
