Repository falcosecurity/falco-website, pull requests merged in 2020-09, with the labels that each got.

#242 fix(content): falco-probe terminology is not used anymore
  content/en/docs/source.md
Labels: approved, area/documentation, dco-signoff: yes, kind/cleanup, kind/content, lgtm, size/S

#244 chore(content): installing kernel headers may be needed for container…
  content/en/docs/running.md
Labels: approved, area/documentation, dco-signoff: yes, kind/bug, kind/content, lgtm, size/XS

#246 fix: correct container image naming
  content/en/blog/falco-0-23-0.md
  content/en/docs/download.md
  content/jp/docs/download.md
Labels: approved, area/documentation, dco-signoff: yes, kind/bug, kind/content, lgtm, size/S

#247 update(content/en/docs): add Alpine section for the statically-linked build
  content/en/docs/source.md
Labels: approved, area/documentation, dco-signoff: yes, kind/content, lgtm, size/S

#245 update(content): add gRPC output to alerts list
  content/en/docs/alerts/_index.md
Labels: approved, area/documentation, dco-signoff: yes, kind/content, lgtm, size/XS

#249 fix(blog): outdated links and examples in "Falco on Kind"
  content/en/blog/falco-kind-prometheus-grafana.md
Labels: approved, area/blog, dco-signoff: yes, kind/bug, lgtm, size/S

#250 examples.md : fix 1 typo
  content/en/docs/examples.md
Labels: approved, dco-signoff: yes, lgtm, size/XS

#253 update: make the kubecon keynote as featured
  config.yaml
Labels: approved, dco-signoff: yes, kind/content, lgtm, size/S

#254 feat(blog): Choosing a driver
  content/en/blog/choosing-a-driver.md
Labels: approved, dco-signoff: yes, lgtm, size/L
