Repository falcosecurity/falco-website, pull requests merged in 2020-10, with the labels that each got.

#248 update(content/en/docs): add openSUSE on build Falco from source
  content/en/docs/source.md
Labels: approved, area/documentation, dco-signoff: yes, kind/content, lgtm, size/M

#273 Change Korean polite expression to plain
  content/ko/docs/_index.md
  content/ko/docs/download.md
Labels: approved, area/documentation, dco-signoff: yes, kind/cleanup, kind/content, kind/translation, lgtm, size/M

#270 Translate docs/examples in Korean
  content/ko/docs/examples.md
Labels: approved, area/documentation, dco-signoff: yes, kind/translation, lgtm, size/L

#274 Translate docs/psp-support page into Korean
  content/ko/docs/psp-support/_index.md
Labels: approved, area/documentation, dco-signoff: yes, kind/content, kind/translation, lgtm, size/L

#277 docs: add libyaml-cpp-dev to ubuntu without bundled deps
  content/en/docs/source.md
Labels: approved, area/documentation, dco-signoff: yes, kind/content, lgtm, size/XS

#280 Translate docs/installation page into Korean
  content/ko/docs/installation.md
Labels: approved, area/documentation, dco-signoff: yes, kind/content, kind/translation, lgtm, size/L

#282 Translate docs/source into Korean
  content/ko/docs/source.md
Labels: approved, area/documentation, dco-signoff: yes, kind/content, kind/translation, lgtm, size/XXL

#283 docs: A small touchup on the kube audit docs
  content/en/docs/event-sources/kubernetes-audit.md
Labels: approved, area/documentation, dco-signoff: yes, kind/content, lgtm, size/XS

#294 type correnction Tthe -> The in rule index file
  content/en/docs/rules/_index.md
Labels: approved, area/documentation, dco-signoff: yes, kind/bug, kind/content, lgtm, size/XS

#279 Translate docs/configuration into Korean
  content/ko/docs/configuration.md
  data/ko/config.yaml
Labels: approved, area/documentation, dco-signoff: yes, kind/content, kind/translation, lgtm, size/L

#300 Typo correction
  content/en/docs/installation.md
Labels: approved, area/documentation, dco-signoff: yes, kind/cleanup, lgtm, size/XS

#301 Translate docs/third-party into Korean
  content/ko/docs/third-party.md
Labels: approved, area/documentation, dco-signoff: yes, kind/content, kind/translation, lgtm, size/L

#292 Translate index file of docs/rule into Korean
  content/ko/docs/rules/_index.md
Labels: approved, area/documentation, dco-signoff: yes, kind/translation, lgtm, size/XL

#295 Translate default-custom file of /docs/rule into Korean
  content/ko/docs/rules/default-custom.md
Labels: approved, area/documentation, dco-signoff: yes, kind/translation, lgtm, size/S

#297 Translate default-macro of /docs/rules into Korean
  content/ko/docs/rules/default-macros.md
Labels: approved, area/documentation, dco-signoff: yes, kind/translation, lgtm, size/L

#307 update(data/en): correct and update gRPC config description
  data/en/config.yaml
Labels: approved, area/documentation, dco-signoff: yes, kind/bug, kind/cleanup, kind/content, lgtm, size/S

#308 update(data/zh): update helm installation
  content/zh/docs/installation.md
Labels: approved, dco-signoff: yes, lgtm, size/XS
