Repository falcosecurity/falco-website, pull requests merged in 2020-11, with the labels that each got.

#309 new(content/en/blog): announcement for 0.26.2
  content/en/blog/falco-0-26-2.md
Labels: approved, area/blog, dco-signoff: yes, kind/content, lgtm, size/L

#310 fix(content/en/blog): typo in release blog and version in config.yaml
  config.yaml
  content/en/blog/falco-0-26-2.md
Labels: approved, area/blog, dco-signoff: yes, kind/content, lgtm, size/XS

#311 fix(content/en/blog): add link to infra wg
  content/en/blog/falco-0-26-2.md
Labels: approved, area/blog, dco-signoff: yes, kind/content, lgtm, size/XS

#312 Added rule order and disable rule documentation
  content/en/docs/rules/_index.md
Labels: approved, area/documentation, dco-signoff: yes, lgtm, size/M

#316 fix wrong config for falco
  content/en/blog/extend-falco-outputs-with-falcosidekick.md
Labels: approved, area/blog, dco-signoff: yes, kind/content, lgtm, size/XS

#323 update (content/en) Updated the example for consistency
  content/en/docs/event-sources/kubernetes-audit.md
Labels: approved, dco-signoff: yes, lgtm, size/XS

#322 update (content/en): Fixed a broken link and minor copy edits
  content/en/docs/grpc/client-go.md
Labels: approved, dco-signoff: yes, lgtm, size/XS

#317 Fix typo "Github" to "GitHub"
  config.yaml
Labels: approved, area/documentation, dco-signoff: yes, kind/cleanup, lgtm, size/XS

#327 [update] Restructure the content on _index.md
  content/en/docs/_index.md
Labels: approved, area/documentation, dco-signoff: yes, kind/content, lgtm, size/M

#331 [new] Applying for the role of a maintainer
  OWNERS
Labels: approved, dco-signoff: yes, lgtm, size/XS
