Repository falcosecurity/falco-website, pull requests merged in 2020-12, with the labels that each got.

#332 [update] The links in the buttons to the new location
  config.yaml
Labels: approved, area/documentation, dco-signoff: yes, kind/cleanup, lgtm, size/XS

#313 update(content/en): falco-no-driver example to work with new `HOST_ROOT` default
  content/en/docs/getting-started/running.md
Labels: approved, area/documentation, dco-signoff: yes, kind/bug, kind/content, lgtm, size/XS

#314 update(content/en): add docker sock in "Run within Docker" section
  content/en/docs/getting-started/running.md
Labels: approved, area/documentation, dco-signoff: yes, kind/content, lgtm, size/XS

#315 update(content/en): add docker in kind config
  content/en/docs/getting-started/third-party.md
Labels: approved, area/documentation, dco-signoff: yes, kind/content, lgtm, size/XS

#333 new(content/en/docs): better diagram in the getting started page
  content/en/docs/getting-started/_index.md
  content/en/docs/images/falco_architecture.png
  content/en/docs/images/falco_architecture.svg
Labels: approved, area/documentation, dco-signoff: yes, kind/content, lgtm, size/XS

#334 [update] reworded the configure button in the main page
  config.yaml
Labels: approved, dco-signoff: yes, lgtm, size/XS

#337 feat(blog): adding systemd blog
  content/en/blog/security-boundaries-with-systemd-and-kubernetes.md
Labels: approved, area/blog, area/documentation, dco-signoff: yes, kind/content, lgtm, size/L
