Repository falcosecurity/falco-website, pull requests merged in 2020-04, with the labels that each got.

#181 delete some blank and fix URL link to Japanese documents
  content/jp/docs/_index.md
Labels: approved, area/documentation, dco-signoff: yes, kind/bug, kind/cleanup, kind/content, kind/translation, lgtm, size/XS

#182 Update copyright footer text
  i18n/en.yaml
  i18n/jp.yaml
  i18n/zh.yaml
  themes/falco-fresh/layouts/partials/footer.html
Labels: approved, dco-signoff: yes, lgtm, size/S

#183 new(content/en/blog): Falco 0.22.x blog post
  content/en/blog/falco-0-22-x.md
Labels: approved, area/blog, dco-signoff: yes, kind/content, lgtm, size/L

#187 update(content/en/docs/events-source): new event generator
  content/en/docs/event-sources/sample-events.md
Labels: approved, area/documentation, dco-signoff: yes, kind/content, lgtm, size/L

#189 updated sample-events.md
  content/jp/docs/event-sources/sample-events.md
Labels: approved, area/documentation, dco-signoff: yes, kind/content, kind/translation, lgtm, size/L
