Repository falcosecurity/falco-website, pull requests merged in 2021-08, with the labels that each got.

#485 Falco + FluentBit: Detect Malicious Behavior Part 2
  content/en/blog/falco-detect-malicious-behavior-through-audit-logs-part-2.md
  content/en/docs/images/falco_fluentbit_kre.png
  content/en/docs/images/falcosidekick_web_ui_detect-malicious_behaviour_through-audit-logs-part2-terminal-view.png
  content/en/docs/images/falcosidekick_web_ui_detect-malicious_behaviour_through-audit-logs-part2.png
Labels: lgtm, dco-signoff: yes, approved, area/blog, size/XL

#487 Update falcosidekick-reponse-engine-part-4-tekton.md
  content/en/blog/falcosidekick-reponse-engine-part-4-tekton.md
Labels: lgtm, size/XS, dco-signoff: yes, approved

#488 fix link to Falco with helm
  content/en/docs/getting-started/third-party/production.md
Labels: kind/cleanup, lgtm, size/XS, dco-signoff: yes, approved, area/documentation, kind/documentation

#413 docs: supported fields generated using commands and missing fields in list
  content/en/docs/rules/supported-fields.md
Labels: kind/content, lgtm, dco-signoff: yes, approved, area/documentation, size/XXL

#477 Blog post about Kubernetes Response Engine with Flux v2
  content/en/blog/falcosidekick-response-engine-part-8-fluxv2.md
  content/en/docs/images/kre_flux_v2_gitops_test_result.png
  content/en/docs/images/kre_flux_v2_gitops_toolkit.png
  content/en/docs/images/kre_flux_v2_gitops_update_desired_state_repository.png
Labels: kind/content, lgtm, dco-signoff: yes, approved, area/blog, size/XL

#490 fix the date of the KRE with flux v2 blog post
  content/en/blog/falcosidekick-response-engine-part-8-fluxv2.md
Labels: lgtm, size/XS, dco-signoff: yes, approved
