Repository falcosecurity/falco-website, pull requests merged in 2021-07, with the labels that each got.

#476 hotfix: fix image name typo for cloud func blog
  content/en/blog/falcosidekick-reponse-engine-part-7-cloud-functions.md
Labels: approved, area/blog, dco-signoff: yes, kind/bug, kind/content, lgtm, size/XS

#480 fix(docs): fix a typo in tags list
  content/en/docs/rules/_index.md
  content/ja/docs/rules/_index.md
  content/ko/docs/rules/_index.md
  content/ml/docs/rules/_index.md
Labels: approved, area/documentation, dco-signoff: yes, kind/content, lgtm, size/XS

#481 set same header with list of all posts in serie about response engine
  content/en/blog/falcosidekick-reponse-engine-part-1-kubeless.md
  content/en/blog/falcosidekick-reponse-engine-part-2-openfass.md
  content/en/blog/falcosidekick-reponse-engine-part-3-knative.md
  content/en/blog/falcosidekick-reponse-engine-part-4-tekton.md
  content/en/blog/falcosidekick-reponse-engine-part-5-argo.md
  content/en/blog/falcosidekick-reponse-engine-part-6-cloud-run.md
  content/en/blog/falcosidekick-reponse-engine-part-7-cloud-functions.md
Labels: approved, area/blog, dco-signoff: yes, kind/cleanup, lgtm, size/S

#483 Docs: fix openSUSE install instructions
  content/en/docs/getting-started/installation.md
Labels: approved, area/documentation, dco-signoff: yes, kind/content, lgtm, size/XS

#486 Add docs on use of fd.sip.name/related fields
  content/en/docs/rules/fd-sip-name.md
Labels: approved, area/documentation, dco-signoff: yes, kind/content, lgtm, size/M
