Repository falcosecurity/falco-website, pull requests merged in 2021-12, with the labels that each got.

#521 Update contributor-of-the-month.md
  content/en/docs/contribute/contributor-of-the-month.md
Labels: lgtm, size/XS, dco-signoff: yes, approved

#520 Blog post for GitLab Package Hunter
  content/en/blog/package-hunter-falco.md
  static/img/package-hunter/falco-inline-dependency-scanning.png
  static/img/package-hunter/package-hunter-falco-grpc.png
  static/img/package-hunter/supply-chain.png
Labels: kind/content, lgtm, dco-signoff: yes, approved, size/L, area/blog

#522 SysFlow blog post
  content/en/blog/sysflow-falco-sidekick.md
  static/img/sysflow-falco-sidekick/01-diagram-outputs.png
  static/img/sysflow-falco-sidekick/02-sysflow-falco-libs.png
  static/img/sysflow-falco-sidekick/03-sysflow-falco-sidekick.png
  static/img/sysflow-falco-sidekick/04-falco-sidekick-ui.png
  static/img/sysflow-falco-sidekick/05-diagram-exfil-command.png
  static/img/sysflow-falco-sidekick/06-plot-c2-flow.png
  static/img/sysflow-falco-sidekick/07-graph-exfiltration-flow.png
Labels: kind/content, lgtm, dco-signoff: yes, approved, size/L, area/blog

#509 Enable falco service
  content/en/docs/getting-started/running.md
Labels: kind/content, lgtm, size/XS, dco-signoff: yes, approved, area/documentation

#519 docs: add section about k8s deployment and the upcoming docker deprecation
  content/en/docs/getting-started/deployment.md
Labels: kind/content, lgtm, dco-signoff: yes, approved, area/documentation, size/M
