Repository falcosecurity/falco-website, pull requests merged in 2021-01, with the labels that each got.

#340 Falco in 2020 (blog post)
  content/en/blog/falco-2020.md
Labels: approved, area/blog, dco-signoff: yes, kind/content, lgtm, size/L

#341 Update falco-2020.md
  content/en/blog/falco-2020.md
Labels: approved, dco-signoff: yes, lgtm, size/XS

#342 [Blog] Create falco-wsl2-custom-kernel.md
  content/en/blog/falco-wsl2-custom-kernel.md
Labels: approved, area/blog, dco-signoff: yes, kind/content, lgtm, size/L

#347 fix(config.yaml): typo of Serverless
  config.yaml
Labels: approved, area/documentation, dco-signoff: yes, kind/cleanup, lgtm, size/XS

#344 fix(content/jp/docs) express proprietary noun `Falco` in English
  content/jp/docs/_index.md
  content/jp/docs/alerts/_index.md
  content/jp/docs/running.md
Labels: approved, area/documentation, dco-signoff: yes, kind/cleanup, lgtm, size/XS

#346 Translated blog falco-2020
  config.yaml
  content/jp/blog/_index.md
  content/jp/blog/falco-2020.md
Labels: approved, area/blog, dco-signoff: yes, kind/content, kind/translation, lgtm, size/L

#348 falcosidekick 2020 blog post
  content/en/blog/falcosidekick-2020.md
  static/img/falcosidekick-github-activity-2020.png
Labels: approved, area/blog, dco-signoff: yes, kind/content, lgtm, size/M

#353 fix typo in blog post falcosidekick-2.20.0
  content/en/blog/falcosidekick-2020.md
Labels: approved, area/blog, dco-signoff: yes, kind/bug, lgtm, size/XS

#352 blog: Removed typo from intro security monitoring blog
  content/en/blog/intro-k8s-security-monitoring.md
Labels: approved, dco-signoff: yes, kind/content, lgtm, size/XS

#354 blog post about falcosidekick + kubeless / fix blog post about falcos…
  content/en/blog/extend-falco-outputs-with-falcosidekick.md
  content/en/blog/falcosidekick-kubeless.md
Labels: approved, area/blog, dco-signoff: yes, kind/content, lgtm, size/XL

#356 Fixed a couple typos in FalcoSidekick Kubeless blog post
  content/en/blog/falcosidekick-kubeless.md
Labels: approved, area/blog, dco-signoff: yes, kind/bug, lgtm, size/XS

#357 update: fix analytics
  config.toml
Labels: approved, dco-signoff: yes, lgtm, size/XS

#358 [update] the contributor of the month page
  content/en/docs/contribute/contributor-of-the-month.md
Labels: approved, area/documentation, dco-signoff: yes, lgtm, size/XS

#359 fix: add a link to the Japanese version along with the English version
  content/ja/docs/grpc/_index.md
Labels: approved, area/documentation, dco-signoff: yes, kind/cleanup, lgtm, size/XS

#360 fix: mailing list url
  config.toml
Labels: approved, dco-signoff: yes, kind/bug, lgtm, size/XS

#363 fix: update README.md according to changes in the directory structure
  README.md
Labels: approved, area/documentation, dco-signoff: yes, kind/cleanup, lgtm, size/XS

#366 Add blog post for exceptions
  content/en/blog/exceptions.md
Labels: approved, area/blog, dco-signoff: yes, kind/content, lgtm, size/L

#364 update: fix blog post slugs
  content/en/blog/choosing-a-driver.md
  content/en/blog/cloud-native-security-hub.md
  content/en/blog/detect-cve-2020-8557.md
  content/en/blog/extend-falco-outputs-with-falcosidekick.md
  content/en/blog/falco-0-20-0.md
  content/en/blog/falco-0-21-0.md
  content/en/blog/falco-0-22-x.md
  content/en/blog/falco-0-23-0.md
  content/en/blog/falco-0-24-0.md
  content/en/blog/falco-0-25-0.md
  content/en/blog/falco-0-26-1.md
  content/en/blog/falco-0-26-2.md
  content/en/blog/falco-2020.md
  content/en/blog/falco-in-the-open.md
  content/en/blog/falco-kind-prometheus-grafana.md
  content/en/blog/falco-scope.md
  content/en/blog/falco-security-audit.md
  content/en/blog/falco-wsl2-custom-kernel.md
  content/en/blog/falcosideckick-joins-falcosecurity.md
  content/en/blog/falcosidekick-2020.md
  content/en/blog/falcosidekick-kubeless.md
  content/en/blog/intro-k8s-security-monitoring.md
  content/en/blog/minikube-falco-kernel-module.md
  content/en/blog/security-boundaries-with-systemd-and-kubernetes.md
Labels: approved, area/blog, dco-signoff: yes, kind/bug, lgtm, size/M

#368 fix: update broken links in README.md
  README.md
Labels: approved, area/documentation, dco-signoff: yes, kind/cleanup, lgtm, size/S

#371 Clarify the first Falco version that includes support for the exceptions feature
  content/en/blog/exceptions.md
Labels: approved, area/blog, dco-signoff: yes, kind/content, lgtm, size/XS

#370 Adding a blog on Falco performance testing with event-generator
  content/en/blog/falco-performance-testing.md
Labels: approved, area/blog, dco-signoff: yes, kind/content, lgtm, size/XL

#372 [Update] fixed the link to Falco - calendar
  config.toml
Labels: approved, dco-signoff: yes, kind/user-interface, lgtm, size/XS

#365 Update OWNERS
  OWNERS
Labels: approved, dco-signoff: yes, lgtm, size/XS

#367 Added contribution guidelines
  content/en/docs/contribute/contribution-guidelines.md
  layouts/partials/community_links.html
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, size/XS

#377 Fix broken url in docs
  content/ja/docs/running.md
Labels: approved, dco-signoff: yes, lgtm, size/XS

#381 Translated to Japanese: Falco on WSL2 with a custom kernel
  content/ja/blog/falco-wsl2-custom-kernel.md
Labels: approved, area/blog, area/documentation, dco-signoff: yes, kind/content, kind/translation, lgtm, size/L

#379 Added SHA256 variable
  config.toml
Labels: approved, dco-signoff: yes, lgtm, size/XS

#383 Translated to Japanese: An Introduction to Kubernetes Security using Falco
  content/ja/blog/intro-k8s-security-monitoring.md
Labels: approved, area/blog, dco-signoff: yes, kind/content, kind/translation, lgtm, size/L

#382 docs(content/en/docs/rules): add warning for `Via Custom Rule Definion` section
  content/en/docs/rules/_index.md
Labels: approved, area/documentation, dco-signoff: yes, kind/content, lgtm, size/M

#345 Add docs for exceptions support
  content/en/docs/rules/_index.md
  content/en/docs/rules/exceptions.md
Labels: approved, area/documentation, dco-signoff: yes, kind/content, lgtm, size/L

#384 Translated to Japanese: 2 Falcosidekick blogs
  content/ja/blog/falcosidekick-2020.md
  content/ja/blog/falcosidekick-kubeless.md
Labels: approved, area/blog, dco-signoff: yes, kind/content, kind/translation, lgtm, size/XL
