Repository falcosecurity/falco-website, pull requests merged in 2021-11, with the labels that each got.

#512 feat: Update Falco description on home page
  i18n/en.yaml
  layouts/index.html
  static/img/created-by-sysdig.png
Labels: lgtm, dco-signoff: yes, size/S, approved

#513 fix: Improve build for source dependencies for Arch Linux
  content/en/docs/getting-started/source.md
Labels: kind/content, lgtm, size/XS, dco-signoff: yes, approved, area/documentation

#511 fix(blog): update Microsoft/config-wsl github link
  content/en/blog/falco-wsl2-custom-kernel.md
Labels: kind/bug, lgtm, size/XS, dco-signoff: yes, approved

#510 fix: link to auditing with falco
  content/en/docs/event-sources/kubernetes-audit.md
Labels: kind/content, lgtm, size/XS, dco-signoff: yes, approved, area/documentation
