Repository falcosecurity/falco-website, pull requests merged in 2021-10, with the labels that each got.

#500 new(blog): 0.30.0 release
  content/en/blog/falco-0-30-0.md
Labels: kind/content, lgtm, dco-signoff: yes, approved, size/L, area/blog

#501 update: switching to Falco 0.30.0
  config.toml
Labels: kind/cleanup, lgtm, size/XS, dco-signoff: yes, approved

#503 fix: spelling
  layouts/partials/labs.html
Labels: kind/bug, kind/content, lgtm, size/XS, dco-signoff: yes, approved, area/documentation

#499 Add Plugins blog post.
  content/en/blog/plugins-early-access.md
Labels: kind/content, lgtm, dco-signoff: yes, approved, size/L, area/blog
