Repository falcosecurity/falco-website, pull requests merged in 2022-12, with the labels that each got.

#762 update(css): pageinfo size to 70%
  assets/scss/_pageinfo.scss
  assets/scss/_styles_project.scss
  assets/scss/_version_banner.scss
  layouts/partials/version-banner.html
Labels: kind/design, lgtm, dco-signoff: yes, approved, area/documentation, size/M

#763 Fix typo
  content/en/docs/event-sources/kubernetes-audit.md
Labels: kind/content, lgtm, size/XS, dco-signoff: yes, approved, area/documentation

#753 convert /docs/tutorials into a branch
  content/en/docs/tutorials/_index.md
Labels: kind/design, lgtm, size/XS, dco-signoff: yes, approved, area/documentation

#774 move Falco alerts section up
  content/en/docs/alerts/_index.md
Labels: kind/content, lgtm, size/XS, dco-signoff: yes, approved, area/documentation

#775 changed featured image proportion from 2x to 1.9x
  layouts/blog/list.html
Labels: kind/design, lgtm, size/XS, dco-signoff: yes, approved, area/blog

#776 update(docs): add descriptions where missing in frontmatter
  content/en/docs/contribute/_index.md
  content/en/docs/contribute/contributor-of-the-month.md
  content/en/docs/getting-started/source.md
  content/en/docs/grpc/_index.md
  content/en/docs/reference/_index.md
  content/en/docs/reference/changelog/index.md
  content/en/docs/reference/rules/_index.md
  content/en/docs/reference/rules/default-macros/index.md
  content/en/docs/reference/rules/macros-override/index.md
  content/en/docs/reference/rules/rule-fields/index.md
  content/en/docs/reference/rules/supported-events/index.md
  content/en/docs/rules/_index.md
  content/en/docs/supported-doc-versions.md
  content/en/docs/tutorials/_index.md
Labels: kind/content, lgtm, dco-signoff: yes, approved, area/documentation, size/M

#779 bump hugo to 108.0 and npm to 9.2.0
  netlify.toml
Labels: kind/user-interface, lgtm, size/XS, dco-signoff: yes, approved, area/documentation
