Repository falcosecurity/falco-website, pull requests merged in 2022-03, with the labels that each got.

#561 Extend Falco inputs by creating a Plugin: Register the plugin
  content/en/blog/extend-falco-inputs-with-a-plugin-register.md
  content/en/blog/extend-falco-inputs-with-a-plugin-the-basics.md
Labels: kind/content, lgtm, dco-signoff: yes, approved, size/L, area/blog

#565 update(config.toml): update for version 0.31.1
  config.toml
Labels: kind/content, lgtm, size/XS, dco-signoff: yes, approved, area/documentation

#564 docs(content): improve doc on Falco least privileged with Docker container
  content/en/docs/getting-started/running.md
Labels: kind/content, lgtm, dco-signoff: yes, approved, area/documentation, size/M

#566 new(blog): add entry for falco 0.31.1
  content/en/blog/falco-0-31-1.md
Labels: kind/content, lgtm, dco-signoff: yes, approved, area/blog, size/M

#567 update(docs): update syscall events for 0.31.x
  content/en/docs/rules/supported-events.md
Labels: kind/content, lgtm, dco-signoff: yes, size/S, approved, area/documentation

#568 update(fields): add fields for 0.31.1
  content/en/docs/rules/supported-fields.md
Labels: kind/content, lgtm, dco-signoff: yes, approved, size/L, area/documentation

#569 fix(blog): fix typo stable 0.30.0 -> 0.31.1
  content/en/blog/falco-0-31-1.md
Labels: kind/bug, lgtm, size/XS, dco-signoff: yes, approved, area/blog

#570 docs(content): add a new step in the upgrading phase
  content/en/docs/getting-started/upgrade.md
Labels: kind/content, lgtm, size/XS, dco-signoff: yes, approved, area/documentation

#575 add blog post about Okta Plugin
  content/en/blog/falco-okta-plugin.md
  static/img/falco-okta-plugin-architecture.png
Labels: kind/content, lgtm, dco-signoff: yes, approved, size/L, area/blog

#574 add Contributor of the Month for Jan and Feb 22
  content/en/docs/contribute/contributor-of-the-month.md
Labels: kind/content, lgtm, size/XS, dco-signoff: yes, approved, area/documentation
