Repository falcosecurity/falco-website, pull requests merged in 2022-08, with the labels that each got.

#661 Adding vjjmiras as a reviewer
  OWNERS
Labels: kind/content, lgtm, size/XS, dco-signoff: yes, approved, area/blog, area/documentation

#663 Fix/Update URLs in the blog post
  content/en/blog/choosing-a-driver.md
Labels: kind/content, lgtm, dco-signoff: yes, approved, area/blog, size/M

#674 new(blog): Falco `0.32.2` release post
  content/en/blog/falco-0-32-2.md
Labels: kind/content, lgtm, dco-signoff: yes, approved, area/blog, size/M

#673 update(config.toml): bump falco version to `0.32.2`
  config/_default/config.toml
Labels: kind/content, lgtm, size/XS, dco-signoff: yes, approved, area/documentation

#675 Create falco-2020.md
  content/zh/blog/falco-2020.md
Labels: lgtm, dco-signoff: yes, approved, size/L

#639 create a folder for running + cli arguments
  content/en/docs/getting-started/running/_index.md
  content/en/docs/getting-started/running/arguments.md
Labels: kind/content, lgtm, dco-signoff: yes, approved, size/L, area/documentation
