Repository falcosecurity/falco-website, pull requests merged in 2022-01, with the labels that each got.

#524 Update contributor-of-the-month.md
  content/en/docs/contribute/contributor-of-the-month.md
Labels: lgtm, size/XS, dco-signoff: yes, approved

#518 Update falco-detect-malicious-behavior-through-audit-logs-part-2.md
  content/en/blog/falco-detect-malicious-behavior-through-audit-logs-part-2.md
Labels: kind/content, lgtm, size/XS, dco-signoff: yes, approved, area/blog

#529 Update contributor-of-the-month.md
  content/en/docs/contribute/contributor-of-the-month.md
Labels: lgtm, size/XS, dco-signoff: yes, approved

#531 Blog: Monitoring new syscalls
  content/en/blog/falco-monitoring-new-syscalls.md
  static/img/falco-architectural-overview.png
Labels: kind/content, lgtm, dco-signoff: yes, approved, area/blog, size/XL

#532 chore: update falco version in config.toml to v0.30.0
  config.toml
Labels: kind/cleanup, lgtm, size/XS, dco-signoff: yes, approved, area/documentation

#515 doc(rules): document enabled-only rule definitions
  content/en/docs/rules/_index.md
Labels: kind/content, lgtm, dco-signoff: yes, size/S, approved, area/documentation

#538 Update some URLs that changed due to 0.31.0 release
  content/en/docs/plugins/_index.md
  content/en/docs/plugins/developers-guide.md
  content/en/docs/plugins/plugin-api-reference.md
Labels: kind/bug, kind/content, lgtm, dco-signoff: yes, size/S, approved, area/documentation

#536 update(config.toml): update version info for 0.30 and append entry for 0.31
  config.toml
Labels: kind/cleanup, lgtm, size/XS, dco-signoff: yes, approved

#537 update(blog): add falco 0.31 release post
  content/en/blog/falco-0-31-0.md
  static/img/falco-architectural-overview-plugins.png
Labels: kind/content, lgtm, dco-signoff: yes, approved, size/L, area/blog
