Repository falcosecurity/falco-website, pull requests merged in 2023-03, with the labels that each got.

#836 "About" section content and design
  assets/js/feedback.js
  assets/scss/_cards.scss
  assets/scss/_styles_project.scss
  assets/scss/_tabs.scss
  assets/scss/_variables_project.scss
  assets/scss/_variables_restyle.scss
  assets/scss/main_restyle.scss
  assets/scss/mixins/_grid.scss
  config/_default/config.toml
  content/en/about/_index.md
  content/en/about/ecosystem.md
  content/en/about/falco.md
  content/en/about/faq.md
  content/en/about/mitre.md
  content/en/about/use-cases.md
  content/en/about/why-falco.md
  i18n/en/en.yaml
  layouts/_default/_markup/render-image.html
  layouts/about/baseof.html
  layouts/partials/about/head-css.html
  layouts/partials/about/head.html
  layouts/partials/about/hooks/head-end.html
  layouts/partials/navbar.html
  layouts/shortcodes/blocks/content.html
  layouts/shortcodes/blocks/tabs.html
  layouts/shortcodes/card.html
  layouts/shortcodes/card_faq.html
  layouts/shortcodes/feedback.html
  layouts/shortcodes/footer_nav.html
  layouts/shortcodes/two_column_block_img.html
  static/img/about/how_it_works.svg
  static/img/about/instrumenting_system_calls.svg
  static/img/about/response_to_threats.svg
  static/img/about/runtime_security.svg
  static/img/about/what_is_falco.svg
Labels: kind/design, lgtm, dco-signoff: yes, approved, size/XXL

#841 Merged new styles with current
  assets/scss/_buttons.scss
  assets/scss/_card.scss
  assets/scss/_styles_project.scss
  assets/scss/_type.scss
  assets/scss/_variables_project.scss
  assets/scss/main_restyle.scss
  config/_default/config.toml
  layouts/about/baseof.html
  layouts/shortcodes/footer_nav.html
Labels: kind/cleanup, kind/design, kind/user-interface, lgtm, dco-signoff: yes, approved, size/XL

#831 Add page for rules editor support
  content/en/docs/rules/ide-support.md
Labels: kind/content, lgtm, dco-signoff: yes, size/S, approved, area/documentation

#844 Feat: about section - why falco
  assets/scss/_changelog.scss
  assets/scss/_variables_project.scss
  content/en/about/why-falco.md
  layouts/shortcodes/content_arrow.html
  layouts/shortcodes/icon_header.html
  layouts/shortcodes/two_column_block_img.html
  static/img/about/arrows-fullscreen.svg
  static/img/about/customizable.svg
  static/img/about/file-earmark-check-fill.svg
  static/img/about/flexible_deployment.svg
  static/img/about/gear-fill.svg
  static/img/about/highly_perfomant.svg
  static/img/about/highly_scalable.svg
  static/img/about/single_policy.svg
  static/img/about/speedometer.svg
  static/img/about/stack.svg
Labels: kind/cleanup, kind/design, kind/content, lgtm, dco-signoff: yes, approved, size/XXL

#849 Feat: documentation section tables and code blocks redesign
  assets/scss/_code.scss
  assets/scss/_styles_project.scss
  assets/scss/_tables.scss
  assets/scss/_variables_project.scss
Labels: kind/design, lgtm, dco-signoff: yes, approved, size/L, area/documentation

#853 Feat: add content to use-cases section
  assets/scss/_section-index.scss
  assets/scss/_styles_project.scss
  content/en/about/use-cases.md
  layouts/shortcodes/blocks/content.html
  static/img/about/falco_today.svg
Labels: kind/user-interface, kind/content, lgtm, dco-signoff: yes, approved, size/XL

#858 feat: update card shortcode
  layouts/shortcodes/card.html
Labels: kind/user-interface, kind/content, lgtm, dco-signoff: yes, approved, size/M

#859 feat: update landing page content
  data/en/community.yaml
  data/en/features.yaml
  data/en/usecases.yaml
  i18n/en/en.yaml
  layouts/index.en.html
Labels: kind/user-interface, kind/content, lgtm, dco-signoff: yes, approved, size/M

#861 feat: add community menu
  config/_default/config.toml
  content/en/community/contributors.md
  content/en/community/events.md
Labels: kind/user-interface, kind/content, lgtm, dco-signoff: yes, size/S, approved

#864 feat: add contributors
  assets/scss/_styles_project.scss
  content/en/community/contributors.md
  layouts/shortcodes/contributor.html
  static/img/community/contributors/contributor_m.svg
  static/img/community/contributors/melissa_kilby.svg
Labels: kind/user-interface, kind/content, lgtm, dco-signoff: yes, approved, size/L

#865 fix: added endusers to ecosystems page
  content/en/about/ecosystem.md
Labels: kind/content, lgtm, size/XS, dco-signoff: yes, approved

#871 feat: community page markdown and content
  assets/scss/_community.scss
  assets/scss/_styles_project.scss
  layouts/community/list.html
  static/img/community/arrow1.svg
  static/img/community/arrow2.svg
  static/img/community/bar.jpg
  static/img/community/call.jpg
  static/img/community/coding.jpg
  static/img/community/presentation.jpg
  static/img/icons/calendar.svg
  static/img/icons/plus-circle-fill.svg
  static/img/icons/telephone.svg
Labels: kind/design, kind/user-interface, kind/content, lgtm, dco-signoff: yes, approved, size/XL

#869 feat: add content for try-falco
  content/en/docs/getting-started/try-falco/_index.md
  content/en/docs/getting-started/try-falco/kubernetes-falcosidekick-tutorial.md
  content/en/docs/getting-started/try-falco/kubernetes-tutorial.md
  content/en/docs/getting-started/try-falco/try-falco-on-kubernetes/index.md
  content/en/docs/getting-started/try-falco/try-falco-on-ubuntu/images/dialog-1.png
  content/en/docs/getting-started/try-falco/try-falco-on-ubuntu/images/dialog-2.png
  content/en/docs/getting-started/try-falco/try-falco-on-ubuntu/index.md
  content/en/docs/getting-started/try-falco/try-falcosidekick-on-kubernetes/images/falcosidekick-1.png
  content/en/docs/getting-started/try-falco/try-falcosidekick-on-kubernetes/index.md
  content/en/docs/getting-started/try-falco/try-falcosidekick-on-ubuntu/images/falcosidekick-1.png
  content/en/docs/getting-started/try-falco/try-falcosidekick-on-ubuntu/index.md
  content/en/docs/getting-started/try-falco/ubuntu-falcosidekick-tutorial.md
  content/en/docs/getting-started/try-falco/ubuntu-tutorial.md
Labels: kind/content, lgtm, dco-signoff: yes, approved, area/documentation, size/XXL

#872 new(blog): add article about the 2023 security audit
  content/en/blog/falco-security-audit-2023.md
Labels: kind/content, lgtm, dco-signoff: yes, approved, area/blog, size/M

#873 feat: announcement bar
  assets/js/announcement-bar.js
  assets/js/feedback.js
  assets/scss/_announcement.scss
  assets/scss/_styles_project.scss
  data/en/announcements/announcement.yaml
  layouts/_default/baseof.html
  layouts/partials/announcement-bar.html
  layouts/partials/hooks/head-end.html
Labels: kind/user-interface, lgtm, dco-signoff: yes, approved, size/L

#878 feat: blog tags
  assets/scss/_blog.scss
  assets/scss/_variables_project.scss
  config/_default/config.toml
  data/en/blog_tags.yaml
  i18n/en/en.yaml
  layouts/_default/taxonomy.html
  layouts/blog/content.html
  layouts/docs/baseof.html
  layouts/partials/blog/card.html
Labels: kind/design, kind/user-interface, lgtm, dco-signoff: yes, approved, size/L, area/blog

#879 feat: add faq shortcode with card_faq partial
  content/en/about/ecosystem.md
  content/en/about/falco.md
  content/en/about/faq.md
  content/en/about/use-cases.md
  content/en/about/why-falco.md
  data/en/faq.yaml
  layouts/partials/card_faq.html
  layouts/shortcodes/faq.html
Labels: kind/user-interface, kind/content, lgtm, dco-signoff: yes, approved, size/XL

#874 feat: add keywords logic to head.html
  content/en/about/falco.md
  content/en/about/use-cases.md
  content/en/about/why-falco.md
  layouts/partials/head.html
Labels: lgtm, size/XS, dco-signoff: yes, approved

#882 Feat: community videos
  assets/js/community-videos.js
  data/videos.yaml
  layouts/community/events.html
  layouts/partials/community/videos.html
Labels: lgtm, dco-signoff: yes, approved, size/M

#883 fix: navbar minor issues
  assets/scss/_nav.scss
  layouts/partials/navbar.html
Labels: kind/design, kind/user-interface, lgtm, dco-signoff: yes, size/S, approved

#886 feat: change styles of faq-card, add styles to training elements
  assets/scss/_card.scss
  content/en/about/ecosystem.md
  content/en/about/falco.md
  content/en/about/faq.md
  content/en/about/use-cases.md
  content/en/about/why-falco.md
  content/en/community/contributors.md
  layouts/partials/training-content.html
Labels: kind/user-interface, kind/content, lgtm, dco-signoff: yes, approved, size/M

#888 feat: added some tags to latest posts
  content/en/blog/falco-0-20-0.md
  content/en/blog/falco-0-21-0.md
  content/en/blog/falco-0-22-x.md
  content/en/blog/falco-0-23-0.md
  content/en/blog/falco-0-24-0.md
  content/en/blog/falco-0-25-0.md
  content/en/blog/falco-0-26-1.md
  content/en/blog/falco-0-26-2.md
  content/en/blog/falco-0-27-0.md
  content/en/blog/falco-0-28-0.md
  content/en/blog/falco-0-28-1.md
  content/en/blog/falco-0-29-0.md
  content/en/blog/falco-0-30-0.md
  content/en/blog/falco-0-31-0.md
  content/en/blog/falco-0-31-1.md
  content/en/blog/falco-0-32-0.md
  content/en/blog/falco-0-32-1.md
  content/en/blog/falco-0-32-2.md
  content/en/blog/falco-0-33-0.md
  content/en/blog/falco-0-33-1.md
  content/en/blog/falco-0-34-0/index.md
  content/en/blog/falco-0-34-1.md
  content/en/blog/falco-applies-for-graduation.md
  content/en/blog/falco-at-kubecon-na-2022/index.md
  content/en/blog/falco-driverkit-debian-docker.md
  content/en/blog/falco-m1.md
  content/en/blog/falco-modern-bpf/index.md
  content/en/blog/falco-on-aws.md
  content/en/blog/falco-packages-gpg-key-rotated.md
  content/en/blog/falco-plugin-k8saudit-eks.md
  content/en/blog/falcoctl-install-manage-rules-plugins/images/github-package-falco-rules.png
  content/en/blog/falcoctl-install-manage-rules-plugins/index.md
  content/en/blog/falcosidekick-2-25-0.md
  content/en/blog/falcosidekick-2-27-0-ui-2-1-0/index.md
  content/en/blog/falcosidekick-2020.md
  content/en/blog/falcosidekick-response-engine-part-1-kubeless.md
  content/en/blog/falcosidekick-response-engine-part-2-openfass.md
  content/en/blog/falcosidekick-response-engine-part-3-knative.md
  content/en/blog/falcosidekick-response-engine-part-4-tekton.md
  content/en/blog/falcosidekick-response-engine-part-5-argo.md
  content/en/blog/falcosidekick-response-engine-part-6-cloud-run.md
  content/en/blog/falcosidekick-response-engine-part-7-cloud-functions.md
  content/en/blog/falcosidekick-response-engine-part-8-fluxv2.md
  content/en/blog/falcosidekick-response-engine-part-9-fission.md
  content/en/blog/giantswarm-app-platform-falco.md
  content/en/blog/recap-2022/index.md
  content/en/blog/rules-helm-chart-3-0-0.md
  content/en/blog/updating-falco-governance.md
Labels: kind/content, dco-signoff: yes, approved, area/blog, size/M

#885 Feat: update contributors
  ADD_CONTRIBUTOR.md
  ADD_NOMINATION.md
  assets/scss/_tables.scss
  assets/scss/_variables_project.scss
  content/en/community/contributors.md
  data/contributors.yaml
  data/nominations.yaml
  layouts/community/contributors.html
  layouts/partials/contributors.html
  layouts/partials/nominations.html
Labels: kind/user-interface, kind/content, lgtm, dco-signoff: yes, approved, size/XL

#889 fix: landing page minor issues
  assets/js/announcement-bar.js
  assets/js/subscribe-form.js
  assets/js/videos.js
  assets/scss/_card.scss
  assets/scss/_landing.scss
  data/en/announcements/kubecon-eu.yaml
  layouts/partials/announcement-bar.html
  layouts/partials/landing/features.html
Labels: kind/design, kind/user-interface, kind/content, lgtm, dco-signoff: yes, approved, size/M

#893 fix: update content-arrow shortcode
  layouts/shortcodes/content_arrow.html
Labels: kind/user-interface, kind/content, lgtm, size/XS, dco-signoff: yes, approved

#891 fix: removed duplicity of default macros page and fixed link
  content/en/docs/rules/basic-elements.md
  content/en/docs/rules/default-macros.md
Labels: kind/bug, kind/content, lgtm, dco-signoff: yes, approved, size/L, area/documentation

#884 fix: navbar design
  assets/scss/_nav.scss
Labels: lgtm, size/XS, dco-signoff: yes, approved

#894 fix: docs minor issues
  config/_default/config.toml
  content/en/docs/alerts/formatting.md
  layouts/_default/content.html
  layouts/docs/baseof.html
  layouts/docs/list.html
Labels: kind/design, kind/user-interface, kind/content, lgtm, size/XS, dco-signoff: yes, approved

#896 fix: update about content
  assets/scss/_styles_project.scss
  assets/scss/_variables_project.scss
  content/en/about/ecosystem.md
  content/en/about/falco.md
  content/en/about/faq.md
  content/en/about/use-cases.md
  static/img/about/runtime_security.svg
Labels: kind/user-interface, kind/content, lgtm, dco-signoff: yes, approved, size/M

#897 fix: update training
  data/training/offerings/detect-cryptomining.yaml
  layouts/partials/training-content.html
Labels: kind/user-interface, kind/content, lgtm, size/XS, dco-signoff: yes, approved

#898 fix: update contribute to blog link
  i18n/en/en.yaml
Labels: kind/user-interface, kind/content, lgtm, size/XS, dco-signoff: yes, approved

#899 fix: event date
  data/en/events.yaml
Labels: lgtm, size/XS, dco-signoff: yes, approved

#850 blog post AWS Security Lake
  content/en/blog/falco-aws-security-lake/images/aws_security_lake_s3.png
  content/en/blog/falco-aws-security-lake/index.md
Labels: kind/content, lgtm, dco-signoff: yes, approved, size/L, area/blog

#903 fix: rewrite headers style that overlap content
  assets/scss/_utilities.scss
Labels: kind/user-interface, lgtm, dco-signoff: yes, size/S, approved

#904 fix: change english language name and arrow location
  config/_default/config.toml
  layouts/partials/navbar.html
Labels: kind/user-interface, kind/content, lgtm, size/XS, dco-signoff: yes, approved

#905 feat: add description field to contributors
  ADD_CONTRIBUTOR.md
  data/contributors.yaml
  layouts/partials/contributors.html
Labels: kind/user-interface, kind/content, lgtm, dco-signoff: yes, approved, size/M
