Repository falcosecurity/falco-website, pull requests merged in 2023-01, with the labels that each got.

#781 update(docs): more detail about container runtime populated k8s fields
  content/en/docs/reference/rules/supported-fields/index.md
Labels: lgtm, dco-signoff: yes, size/S, approved

#783 Update basic-elements.md
  content/en/docs/rules/basic-elements.md
Labels: lgtm, size/XS, dco-signoff: yes, approved

#769 blog post for Falcosidekick 2.27.0 and Falcosidekick UI 2.1.0
  content/en/blog/falcosidekick-2-27-0-ui-2-1-0/images/falcosidekick-docker-pulls.png
  content/en/blog/falcosidekick-2-27-0-ui-2-1-0/images/falcosidekick-featured.png
  content/en/blog/falcosidekick-2-27-0-ui-2-1-0/images/falcosidekick-gotify.jpg
  content/en/blog/falcosidekick-2-27-0-ui-2-1-0/images/falcosidekick-node-red.png
  content/en/blog/falcosidekick-2-27-0-ui-2-1-0/images/falcosidekick-ui-autorefresh.png
  content/en/blog/falcosidekick-2-27-0-ui-2-1-0/images/falcosidekick-ui-hostnames.png
  content/en/blog/falcosidekick-2-27-0-ui-2-1-0/images/falcosidekick-ui-info.png
  content/en/blog/falcosidekick-2-27-0-ui-2-1-0/images/falcosidekick-ui-login.png
  content/en/blog/falcosidekick-2-27-0-ui-2-1-0/images/falcosidekick-zincsearch.png
  content/en/blog/falcosidekick-2-27-0-ui-2-1-0/index.md
Labels: kind/content, lgtm, dco-signoff: yes, approved, size/L, area/blog

#731 Add instructions how to validate Falco rules locally with Docker
  content/en/docs/getting-started/running/index.md
Labels: kind/content, lgtm, dco-signoff: yes, size/S, approved, area/documentation

#787 fix(docs): extend controlling-rules description to add verbosity abou…
  content/en/docs/rules/controlling-rules.md
Labels: kind/content, lgtm, size/XS, dco-signoff: yes, approved, area/documentation

#790 docs(blog): fix some broken links
  content/en/blog/falco-packages-gpg-key-rotated.md
Labels: kind/bug, lgtm, size/XS, dco-signoff: yes, approved, area/blog

#793 update(blog): add example with error for deb-gpg
  content/en/blog/falco-packages-gpg-key-rotated.md
Labels: kind/content, lgtm, dco-signoff: yes, size/S, approved, area/blog

#798 Vote: add vjjmiras as an approver to content/ and layouts/
  content/OWNERS
  layouts/OWNERS
Labels: kind/content, lgtm, size/XS, dco-signoff: yes, approved, area/blog, area/documentation
