Repository falcosecurity/falco-website, pull requests merged in 2023-11, with the labels that each got.

#1195 Update the events page with the latest dates.
  data/en/events.yaml
Labels: lgtm, dco-signoff: yes, approved, size/L, area/community, kind/event

#1198 [blog-new-training] fix typo
  content/en/blog/new-cncf-lf-training/index.md
Labels: kind/content, lgtm, size/XS, dco-signoff: yes, approved, area/blog

#1199 Fix links to chart repository
  content/en/blog/extend-falco-outputs-with-falcosidekick.md
  content/en/blog/falco-aws-security-lake/index.md
  content/en/blog/falco-kind-prometheus-grafana.md
  content/en/blog/falco-m1.md
  content/en/blog/falco-security-and-monitoring-on-rke-bare-metal-cluster-with-rancher.md
  content/en/blog/rules-helm-chart-3-0-0.md
  content/en/docs/event-sources/kernel/sample-events.md
  content/en/docs/install-operate/deployment.md
  content/en/docs/install-operate/third-party/install-tools.md
  content/en/docs/install-operate/third-party/learning.md
  content/en/docs/rules/default-custom.md
  content/ja/docs/getting-started/third-party.md
  content/ko/docs/third-party.md
  content/ml/docs/getting-started/third-party/install-tools.md
  content/ml/docs/getting-started/third-party/learning.md
  content/zh-cn/docs/installation.md
Labels: kind/bug, kind/content, lgtm, dco-signoff: yes, approved, area/documentation, size/M

#1202 new(content): added blog post for week #46 highlights.
  content/en/blog/falco-week-46.md
Labels: kind/content, lgtm, dco-signoff: yes, approved, area/blog, size/M

#1204 new(content): added Falco weekly higlhlight for week 47.
  content/en/blog/falco-week-47.md
Labels: kind/content, lgtm, dco-signoff: yes, approved, area/blog, size/M

#1192 vote: update(OWNERS): add myself as an approver
  OWNERS
Labels: lgtm, size/XS, dco-signoff: yes, approved
