Repository falcosecurity/falco-website, pull requests merged in 2023-09, with the labels that each got.

#1142 fix(docs): add explaination for set operations
  content/en/docs/rules/conditions.md
Labels: kind/content, lgtm, size/XS, dco-signoff: yes, approved, area/documentation

#1143 add event in Paris Sept 2023
  data/en/events.yaml
Labels: lgtm, dco-signoff: yes, size/S, approved, area/community, kind/event

#1147 adds tracing system calls using ebpf blog
  content/en/blog/tracing-system-calls-using-ebpf-part-1/images/ebpf-01.png
  content/en/blog/tracing-system-calls-using-ebpf-part-1/images/ebpf-02.png
  content/en/blog/tracing-system-calls-using-ebpf-part-1/images/ebpf-03.png
  content/en/blog/tracing-system-calls-using-ebpf-part-1/images/ebpf-04.png
  content/en/blog/tracing-system-calls-using-ebpf-part-1/images/ebpf-05.png
  content/en/blog/tracing-system-calls-using-ebpf-part-1/images/ebpf-06.png
  content/en/blog/tracing-system-calls-using-ebpf-part-1/images/ebpf-07.png
  content/en/blog/tracing-system-calls-using-ebpf-part-1/images/ebpf-08.png
  content/en/blog/tracing-system-calls-using-ebpf-part-1/images/ebpf-09.png
  content/en/blog/tracing-system-calls-using-ebpf-part-1/images/ebpf-10.png
  content/en/blog/tracing-system-calls-using-ebpf-part-1/images/ebpf-11.png
  content/en/blog/tracing-system-calls-using-ebpf-part-1/images/ebpf-12.png
  content/en/blog/tracing-system-calls-using-ebpf-part-1/images/ebpf-13.png
  content/en/blog/tracing-system-calls-using-ebpf-part-1/images/ebpf-14.png
  content/en/blog/tracing-system-calls-using-ebpf-part-1/images/ebpf-15.png
  content/en/blog/tracing-system-calls-using-ebpf-part-1/images/ebpf-16.png
  content/en/blog/tracing-system-calls-using-ebpf-part-1/images/ebpf-blog-featured.png
  content/en/blog/tracing-system-calls-using-ebpf-part-1/images/ebpf-res-01.png
  content/en/blog/tracing-system-calls-using-ebpf-part-1/images/ebpf-res-02.png
  content/en/blog/tracing-system-calls-using-ebpf-part-1/index.md
Labels: kind/content, lgtm, dco-signoff: yes, approved, area/blog, size/XL

#1148 Tracing system calls using e bpf
  content/en/blog/tracing-system-calls-using-ebpf-part-1/images/ebpf-06.png
  content/en/blog/tracing-system-calls-using-ebpf-part-1/images/ebpf-07.png
  content/en/blog/tracing-system-calls-using-ebpf-part-1/images/ebpf-08.png
  content/en/blog/tracing-system-calls-using-ebpf-part-1/images/ebpf-09.png
  content/en/blog/tracing-system-calls-using-ebpf-part-1/images/ebpf-10.png
  content/en/blog/tracing-system-calls-using-ebpf-part-1/images/ebpf-11.png
  content/en/blog/tracing-system-calls-using-ebpf-part-1/images/ebpf-12.png
  content/en/blog/tracing-system-calls-using-ebpf-part-1/images/ebpf-13.png
  content/en/blog/tracing-system-calls-using-ebpf-part-1/images/ebpf-14.png
  content/en/blog/tracing-system-calls-using-ebpf-part-1/images/ebpf-15.png
  content/en/blog/tracing-system-calls-using-ebpf-part-1/images/ebpf-16.png
  content/en/blog/tracing-system-calls-using-ebpf-part-1/images/ebpf-17.png
Labels: kind/bug, lgtm, size/XS, dco-signoff: yes, approved

#1134 falcosidekick-ui v2.2.0
  content/en/blog/falcosidekick-ui-2-2-0/images/dialog-box-button.png
  content/en/blog/falcosidekick-ui-2-2-0/images/dialog-box.png
  content/en/blog/falcosidekick-ui-2-2-0/images/export.png
  content/en/blog/falcosidekick-ui-2-2-0/images/featured.png
  content/en/blog/falcosidekick-ui-2-2-0/images/json.png
  content/en/blog/falcosidekick-ui-2-2-0/index.md
Labels: lgtm, dco-signoff: yes, approved, area/blog, size/M

#1151 updated events
  data/en/events.yaml
Labels: lgtm, dco-signoff: yes, approved, size/L, area/community, kind/event

#1154 fix(website): remove symlinks in translated about pages
  content/ja/about
  content/ko/about
  content/ml/about
  content/zh-cn/about
Labels: kind/bug, lgtm, size/XS, dco-signoff: yes, approved, area/documentation

#1161 fix(docs): changes cmd to configure apt repository
  content/en/docs/install-operate/installation.md
Labels: kind/content, lgtm, size/XS, dco-signoff: yes, approved, area/documentation

#1010 Document fs.path.* fields
  content/en/docs/rules/fspath.md
Labels: kind/content, lgtm, dco-signoff: yes, approved, size/L

#1163 chore(docs): update config for Falco 0.36.0
  config/_default/versions/params.yaml
Labels: kind/cleanup, lgtm, dco-signoff: yes, size/S, approved, area/documentation

#1146 [0.36] content: deprecate `--userspace` instrumentation
  content/en/docs/event-sources/kernel/_index.md
Labels: kind/content, lgtm, size/XS, dco-signoff: yes, approved, area/documentation

#1165 fix(content): fix breaking changes section in Falco 0.36.0 blog post
  content/en/blog/falco-0-36-0/index.md
Labels: kind/content, lgtm, size/XS, dco-signoff: yes, approved, area/blog

#1164 update(docs): update fields and syscalls for Falco 0.36.0
  content/en/docs/reference/rules/supported-events/index.md
  content/en/docs/reference/rules/supported-events/supported-events.md
  content/en/docs/reference/rules/supported-fields/index.md
  content/en/docs/reference/rules/supported-fields/supported-fields.md
Labels: kind/content, lgtm, dco-signoff: yes, approved, area/documentation, size/XXL

#1167 add the list of outputs for falcosidekick
  content/en/docs/outputs/forwarding.md
Labels: kind/content, lgtm, dco-signoff: yes, approved, size/L, area/documentation
