Repository falcosecurity/falco-website, pull requests merged in 2023-08, with the labels that each got.

#1120 cleanup(docs): update tagline of about page
  config/_default/config.toml
Labels: kind/cleanup, lgtm, size/XS, dco-signoff: yes, approved, area/documentation

#1122 fix(docs): update href to falco architecture image
  content/en/docs/getting-started/_index.md
Labels: kind/content, lgtm, size/XS, dco-signoff: yes, approved, area/documentation

#1118 Add tracker to lab link on the adaptive-sycall blog
  content/en/blog/adaptive-syscalls-selection/index.md
Labels: kind/content, lgtm, size/XS, dco-signoff: yes, approved, area/blog

#1126 update(events): new workshop dates for Autum
  data/en/events.yaml
Labels: lgtm, dco-signoff: yes, approved, size/L, area/community, kind/event

#1127 fix(event): removed cancelled workshops
  data/en/events.yaml
Labels: lgtm, dco-signoff: yes, approved, size/M, area/community, kind/event

#1124 add falcoctl gitlab oci artifact supports
  content/en/blog/falcoctl-gitlab-oci-artifacts-support.md
Labels: lgtm, dco-signoff: yes, approved, area/blog, size/M

#1130 cleanup: update rules style guide
  content/en/docs/rules/style-guide.md
Labels: kind/cleanup, lgtm, size/XS, dco-signoff: yes, approved, area/documentation

#1137 update(events): adding events in Europe
  data/en/events.yaml
Labels: lgtm, dco-signoff: yes, approved, size/L, area/community, kind/event

#1138 docs(blog): In memory of Kris Nóva
  content/en/blog/kris-nova/images/kris-featured.png
  content/en/blog/kris-nova/index.md
Labels: kind/content, lgtm, dco-signoff: yes, size/S, approved, area/blog
