Repository falcosecurity/falco-website, pull requests merged in 2023-05, with the labels that each got.

#943 Adding presentation templates for users.
  static/presentations/Falco presentation template.odp
  static/presentations/Falco presentation template.pptx
Labels: lgtm, size/XS, dco-signoff: yes, approved

#866 new(blog): added a blog post about adding support for a new distro for our prebuilt drivers
  content/en/blog/drivers-add-new-distro.md
Labels: kind/content, lgtm, dco-signoff: yes, approved, size/L, area/blog

#956 fix: add append to the allowed rule fields
  content/en/docs/reference/rules/rule-fields/rule-fields.md
Labels: kind/content, lgtm, size/XS, dco-signoff: yes, approved, area/documentation

#952 instructions formatted for a more logical sequence
  content/en/docs/getting-started/installation.md
Labels: kind/content, lgtm, dco-signoff: yes, size/S, approved, area/documentation

#957 fix: added missing "deb" type in apt source.list
  content/en/docs/getting-started/installation.md
Labels: kind/content, lgtm, size/XS, dco-signoff: yes, approved, area/documentation

#962 GitOps Falco Rules - wrong featured image path
  content/en/blog/gitops-your-falco-rules/index.md
Labels: kind/content, lgtm, size/XS, dco-signoff: yes, approved, area/blog

#966 fix: youtube videos urls for landing page
  assets/js/videos.js
Labels: lgtm, size/XS, dco-signoff: yes, approved

#967 new: Upcoming Falco workshop with AICamp
  data/en/events.yaml
Labels: kind/content, lgtm, dco-signoff: yes, approved, size/M

#968 fix: url for community events
  layouts/index.en.html
Labels: kind/content, lgtm, size/XS, dco-signoff: yes, approved, area/documentation

#970 Rename link for kernel events
  content/en/docs/event-sources/kernel.md
Labels: kind/content, lgtm, size/XS, dco-signoff: yes, approved, area/documentation

#959 update k8saudit-eks plugin blog post
  content/en/blog/falco-plugin-k8saudit-eks.md
  package-lock.json
Labels: kind/content, lgtm, dco-signoff: yes, approved, area/blog, size/XL

#975 new: add upcoming Falco workshops events
  data/en/events.yaml
Labels: kind/content, lgtm, dco-signoff: yes, approved, size/XL

#835 Update source.md
  content/en/docs/getting-started/installation.md
Labels: lgtm, size/XS, dco-signoff: yes, approved
