Repository falcosecurity/falco-website, pull requests merged in 2023-12, with the labels that each got.

#1208 new(content): Added Falco weekly 48.
  content/en/blog/falco-week-48.md
Labels: kind/content, lgtm, dco-signoff: yes, approved, area/blog, size/M

#1210 [okta-blog] Update fuzzy sentence
  content/en/blog/falco-okta-identity/index.md
Labels: kind/bug, kind/content, lgtm, size/XS, dco-signoff: yes, approved, area/blog

#1217 update(learning/minikube): add instructions to use modern-bpf probe
  content/en/docs/install-operate/third-party/learning.md
Labels: lgtm, size/XS, dco-signoff: yes, approved, area/documentation

#1220 chore: add stackio as a falco enduser
  data/adopters/endusers/stackio.yaml
  static/img/adopters/stackio.png
Labels: lgtm, size/XS, dco-signoff: yes, approved
