Repository falcosecurity/falco-website, pull requests merged in 2023-02, with the labels that each got.

#807 new(website): add v0.34.0 to params.yaml
  config/_default/versions/params.yaml
Labels: kind/content, lgtm, dco-signoff: yes, size/S, approved, area/documentation

#806 Translate docs/alerts/_index.md into Korean
  content/ko/docs/alerts/_index.md
  content/ko/docs/alerts/formatting.md
Labels: kind/content, lgtm, dco-signoff: yes, approved, kind/translation, area/documentation, size/M

#808 update(docs): fix some broken links in the modern bpf probe
  content/en/docs/event-sources/drivers.md
Labels: kind/content, lgtm, size/XS, dco-signoff: yes, approved, area/documentation

#802 new(blog): add blog entry for falco 0.34.0
  content/en/blog/falco-0-34-0/images/detection_new_executable_container.png
  content/en/blog/falco-0-34-0/images/falco-honeybee-featured.png
  content/en/blog/falco-0-34-0/images/falco-honeybee.png
  content/en/blog/falco-0-34-0/index.md
Labels: kind/content, lgtm, dco-signoff: yes, approved, size/L, area/blog

#809 update(docs): use latest chart values in minikube tutorial
  content/en/docs/getting-started/third-party/learning.md
Labels: kind/content, lgtm, dco-signoff: yes, approved, size/L, area/documentation

#810 update(content): update fields for 0.34.0
  content/en/docs/reference/rules/supported-events/supported-events.md
  content/en/docs/reference/rules/supported-fields/index.md
Labels: kind/content, lgtm, dco-signoff: yes, approved, area/documentation, size/M

#811 new(blog): rules and helm chart 3.0.0
  content/en/blog/rules-helm-chart-3-0-0.md
Labels: kind/content, lgtm, dco-signoff: yes, approved, area/blog, size/M

#812 update(blog): remove double title on helm 3.0.0 article
  content/en/blog/rules-helm-chart-3-0-0.md
Labels: kind/bug, lgtm, size/XS, dco-signoff: yes, approved, area/blog

#814 fix(blog): fix typo in latest rules entry
  content/en/blog/rules-helm-chart-3-0-0.md
Labels: kind/bug, lgtm, size/XS, dco-signoff: yes, approved, area/blog

#815 Clarify experimental reason #1
  content/en/docs/event-sources/drivers.md
Labels: lgtm, size/XS, dco-signoff: yes, approved

#828 new(blog): falco 0.34.1 release post
  content/en/blog/falco-0-34-1.md
Labels: kind/content, lgtm, dco-signoff: yes, approved, area/blog, size/M

#829 update(config): update version number for 0.34.1
  config/_default/versions/params.yaml
Labels: kind/content, lgtm, size/XS, dco-signoff: yes, approved, area/documentation

#833 add a link to the gh repo for the rules
  content/en/docs/rules/default-custom.md
Labels: kind/content, lgtm, size/XS, dco-signoff: yes, approved, area/documentation

#827 add blog post 'Falcoctl: install and manage your rules and plugins'
  content/en/blog/falcoctl-install-manage-rules-plugins.md/images/github-package-falco-rules.png
  content/en/blog/falcoctl-install-manage-rules-plugins.md/index.md
Labels: kind/content, lgtm, dco-signoff: yes, approved, area/blog, size/XL
