Repository falcosecurity/falco-website, pull requests merged in 2023-06, with the labels that each got.

#973 Drop UA ID
  config/_default/config.toml
Labels: kind/cleanup, lgtm, size/XS, dco-signoff: yes, approved, area/documentation

#989 fix(content): update documentation of BPF with docker
  content/en/docs/getting-started/running/index.md
Labels: kind/content, lgtm, size/XS, dco-signoff: yes, approved, area/documentation

#990 add(events): Falco workshop on Bellevue
  data/en/events.yaml
Labels: kind/content, lgtm, dco-signoff: yes, approved, size/M

#961 Remove command line prompts and update installing instructions
  content/en/docs/getting-started/try-falco/try-falco-on-kubernetes/index.md
  content/en/docs/getting-started/try-falco/try-falco-on-ubuntu/index.md
  content/en/docs/getting-started/try-falco/try-falcosidekick-on-kubernetes/index.md
  content/en/docs/getting-started/try-falco/try-falcosidekick-on-ubuntu/index.md
Labels: kind/content, lgtm, dco-signoff: yes, approved, size/L, area/documentation

#979 fix(blog): fixing some errors on the instructions to deploy on Kubernetes
  content/en/blog/gitops-your-falco-rules/index.md
Labels: kind/content, lgtm, dco-signoff: yes, size/S, approved, area/blog

#991 docs(README.md): add scope and status badges
  README.md
Labels: kind/cleanup, lgtm, size/XS, dco-signoff: yes, approved

#992 update(params.yaml): bump website to falco v0.35.0
  config/_default/versions/params.yaml
Labels: kind/cleanup, lgtm, dco-signoff: yes, size/S, approved

#986 new(content): Falco 0.35.0 blog post
  content/en/blog/falco-0-35-0/index.md
Labels: kind/content, lgtm, dco-signoff: yes, approved, size/L, area/blog

#840 docs: added documentation about -A option
  content/en/docs/reference/daemon/cli-arguments/cli-arguments.md
  data/en/reference/daemon/cli_options.yaml
Labels: kind/content, lgtm, dco-signoff: yes, approved, area/documentation, size/XL

#987 new(docs): add container signature documentation
  content/en/docs/getting-started/installation.md
Labels: kind/content, lgtm, dco-signoff: yes, size/S, approved, area/documentation

#993 Added YouTube Video
  content/en/blog/falco-0-35-0/index.md
Labels: kind/content, lgtm, size/XS, dco-signoff: yes, approved

#995 Update: add missing tags in the falco 0.35 release announcement
  content/en/blog/falco-0-35-0/index.md
Labels: kind/content, lgtm, size/XS, dco-signoff: yes, approved, area/blog

#994 Send page feedback using gtag
  assets/js/feedback.js
  config/_default/config.toml
Labels: kind/bug, lgtm, dco-signoff: yes, size/S, approved

#998 update(content): update fields for 0.35.0
  content/en/docs/reference/rules/supported-fields/index.md
Labels: kind/content, lgtm, dco-signoff: yes, approved, size/L, area/documentation

#1000 fix: replace eBPF lab with screenshot/link for better UX
  content/en/blog/falco-modern-bpf-0-35-0/images/falco-modern-bpf-lab.png
  content/en/blog/falco-modern-bpf-0-35-0/index.md
Labels: kind/content, lgtm, size/XS, dco-signoff: yes, approved, area/blog

#1001 fix: switch case study for events
  ADD_EVENT.md
Labels: lgtm, size/XS, dco-signoff: yes, approved

#1002 Update installation.md
  content/en/docs/getting-started/installation.md
Labels: kind/cleanup, lgtm, size/XS, dco-signoff: yes, approved, area/documentation

#1015 new(reference): add some documents regarding Falco capabilities
  content/en/docs/event-sources/kernel.md
Labels: kind/content, lgtm, dco-signoff: yes, approved, area/documentation, size/M

#988 blog post Extend Falco inputs by creating a Plugin: Distribute the plugin
  content/en/blog/extend-falco-inputs-with-a-plugin-distribute/images/packages.png
  content/en/blog/extend-falco-inputs-with-a-plugin-distribute/images/workflow.png
  content/en/blog/extend-falco-inputs-with-a-plugin-distribute/index.md
  content/en/blog/extend-falco-inputs-with-a-plugin-register.md
  content/en/blog/extend-falco-inputs-with-a-plugin-the-basics.md
Labels: lgtm, dco-signoff: yes, approved, area/blog, size/XL

#1020 update(events): remove presential workshops in July
  data/en/events.yaml
Labels: lgtm, dco-signoff: yes, approved, size/L, area/community, kind/event

#1022 update(blog): include images, formatting and mention to original blog post
  content/en/blog/tidal-registry-release/images/tidal-registry-release-01.png
  content/en/blog/tidal-registry-release/images/tidal-registry-release-02.png
  content/en/blog/tidal-registry-release/index.md
Labels: kind/content, lgtm, dco-signoff: yes, approved, area/blog, size/M

#1013 update(params.yaml): bump website to falco v0.35.1
  config/_default/versions/params.yaml
Labels: lgtm, size/XS, dco-signoff: yes, approved

#1021 docs: add blog post about 0.35.1 release
  content/en/blog/falco-0-35-1.md
Labels: lgtm, dco-signoff: yes, approved, size/M
