Repository falcosecurity/falco-website, pull requests merged in 2023-07, with the labels that each got.

#1025 Remove 'of' typo in Environment requirement
  content/en/docs/getting-started/try-falco/try-falcosidekick-on-kubernetes/index.md
Labels: lgtm, size/XS, dco-signoff: yes, approved

#1026 fix typo in falco 0.35.1 blog post
  content/en/blog/falco-0-35-1.md
Labels: kind/bug, lgtm, size/XS, dco-signoff: yes, approved, area/blog

#1028 feature: add glossary layout
  assets/scss/_glossary.scss
  assets/scss/_styles_project.scss
  content/en/docs/reference/glossary/index.md
  data/canonical-tags/architecture.yaml
  data/canonical-tags/community.yaml
  data/canonical-tags/extension.yaml
  data/canonical-tags/fundamental.yaml
  data/canonical-tags/tool.yaml
  i18n/en/glossary/en.yaml
  layouts/docs/glossary.html
  layouts/partials/docs/glossary-terms.html
  layouts/shortcodes/glossary_definition.html
  layouts/shortcodes/glossary_tooltip.html
  static/js/glossary.js
Labels: kind/content, lgtm, dco-signoff: yes, approved, area/documentation, size/XL

#1027 Nigel Douglas PCI DSS blog
  content/en/blog/falco-pci-dss/images/falco-pci-controls-featured.png
  content/en/blog/falco-pci-dss/index.md
Labels: lgtm, dco-signoff: yes, approved, size/L

#1038 update(blog): fixing wrong rule
  content/en/blog/falco-pci-dss/index.md
Labels: lgtm, dco-signoff: yes, size/S, approved

#1037 fix(documentation): change cert path for client-go
  content/en/docs/grpc/client-go.md
  content/ja/docs/grpc/client-go.md
  content/ml/docs/grpc/client-go.md
Labels: kind/cleanup, lgtm, size/XS, dco-signoff: yes, approved, area/documentation

#1023 Added KubeSphere Logo as Adopter
  data/adopters/endusers/kubesphere.yaml
  data/adopters/vendors/kubesphere.yaml
  static/img/adopters/kubesphere.png
Labels: kind/design, lgtm, size/XS, dco-signoff: yes, approved

#971 Update falco-0-26-2.md
  content/zh-cn/blog/falco-0-26-2.md
Labels: lgtm, size/XS, dco-signoff: yes, approved

#963 fix #791 - json_output option influences --version output
  data/en/reference/daemon/config_options.yaml
Labels: lgtm, size/XS, dco-signoff: yes, approved

#1042 add Vinted to end-user adapters
  data/adopters/endusers/vinted.yaml
  static/img/adopters/vinted.png
Labels: lgtm, size/XS, dco-signoff: yes, approved

#1030 fix(i18n): deprecation of custom params for languages
  config/_default/config.toml
  config/_default/languages/languages.yaml
Labels: kind/cleanup, lgtm, dco-signoff: yes, approved, size/L, area/documentation

#1034 update(blog): extend instructions to add a blog entry
  ADD_BLOG.md
Labels: kind/content, lgtm, dco-signoff: yes, approved, area/blog, size/M

#1045 update(events): add CNCF Livestream July 2023
  data/en/events.yaml
Labels: lgtm, dco-signoff: yes, size/S, approved, area/community

#1050 Add adaptive syscalls lab to blog.
  content/en/blog/adaptive-syscalls-selection/images/adaptive-syscalls-selection-lab.png
  content/en/blog/adaptive-syscalls-selection/index.md
Labels: kind/content, lgtm, size/XS, dco-signoff: yes, approved, area/blog

#1048 update(docs): improve linking between Falco and ecosystem in the about page
  content/en/docs/_index.md
Labels: kind/content, lgtm, dco-signoff: yes, size/S, approved, area/documentation

#1051 add first glossary terms
  content/en/docs/reference/glossary/abnormal-behavior.md
  content/en/docs/reference/glossary/alerts.md
  content/en/docs/reference/glossary/conditions.md
  content/en/docs/reference/glossary/eBPF.md
  content/en/docs/reference/glossary/exceptions.md
  content/en/docs/reference/glossary/falco.md
  content/en/docs/reference/glossary/falcoctl.md
  content/en/docs/reference/glossary/falcosidekick-ui.md
  content/en/docs/reference/glossary/falcosidekick.md
  content/en/docs/reference/glossary/fields.md
  content/en/docs/reference/glossary/grpc.md
  content/en/docs/reference/glossary/kernel-space.md
  content/en/docs/reference/glossary/kernel.md
  content/en/docs/reference/glossary/libscap.md
  content/en/docs/reference/glossary/libsinsp.md
  content/en/docs/reference/glossary/lists.md
  content/en/docs/reference/glossary/macros.md
  content/en/docs/reference/glossary/plugins.md
  content/en/docs/reference/glossary/response-engine.md
  content/en/docs/reference/glossary/rules-file.md
  content/en/docs/reference/glossary/rules.md
  content/en/docs/reference/glossary/runtime-security.md
  content/en/docs/reference/glossary/syscalls.md
  content/en/docs/reference/glossary/tags.md
  content/en/docs/reference/glossary/user-space.md
  data/canonical-tags/event-source.yaml
  data/canonical-tags/integration.yaml
  data/canonical-tags/security-concept.yaml
Labels: kind/content, lgtm, dco-signoff: yes, approved, area/documentation, size/XL

#1053 Fix Adaptive Syscalls Blog Lab snippet.
  content/en/blog/adaptive-syscalls-selection/index.md
Labels: kind/bug, kind/content, lgtm, dco-signoff: yes, size/S, approved, area/blog

#1043 New: GSoC week3 and week4 blog
  content/en/blog/gsoc2023-week3-week4/images/falco-gsoc-featured.jpg
  content/en/blog/gsoc2023-week3-week4/index.md
  content/en/blog/gsoc2023/images/falco-gsoc-featured.jpg
Labels: lgtm, dco-signoff: yes, approved, size/L

#1054 nist controls blog post
  content/en/blog/nist-controls/images/falco-nist-controls-featured.png
  content/en/blog/nist-controls/index.md
Labels: kind/content, lgtm, dco-signoff: yes, approved, size/L, area/blog

#1056 remove repetitions
  content/en/docs/reference/glossary/alerts.md
  content/en/docs/reference/glossary/drivers.md
  content/en/docs/reference/glossary/ebpf.md
  content/en/docs/reference/glossary/extractor-plugins.md
  content/en/docs/reference/glossary/falco.md
  content/en/docs/reference/glossary/kernel-module.md
  content/en/docs/reference/glossary/libsinsp.md
  content/en/docs/reference/glossary/modern-ebpf-probe.md
  content/en/docs/reference/glossary/plugins.md
  content/en/docs/reference/glossary/priorities.md
  content/en/docs/reference/glossary/probes.md
  content/en/docs/reference/glossary/ring-buffer.md
  content/en/docs/reference/glossary/rules.md
  content/en/docs/reference/glossary/source-plugins.md
  content/en/docs/reference/glossary/syscalls.md
Labels: kind/cleanup, kind/content, lgtm, dco-signoff: yes, approved, area/documentation, size/M

#1057 Adding links to nist-controls blog post
  content/en/blog/nist-controls/index.md
Labels: kind/cleanup, lgtm, size/XS, dco-signoff: yes, approved, area/blog

#1060 feat(glossary): remove show more (plus sign) option when empty
  layouts/docs/glossary.html
Labels: kind/user-interface, lgtm, size/XS, dco-signoff: yes, approved, area/documentation

#1061 Update features descriptions on the landing page
  data/en/features.yaml
Labels: lgtm, size/XS, dco-signoff: yes, approved

#1062 update(docs): add `bpftool` commands to check modern bpf requirements
  content/en/docs/event-sources/kernel.md
Labels: kind/content, lgtm, size/XS, dco-signoff: yes, approved, area/documentation

#1064 Add falco-0-31-0.md Chinese file
  content/zh-cn/blog/falco-0-31-0.md
Labels: lgtm, dco-signoff: yes, approved, size/L

#1074 Updating rule disable through macro section
  content/en/docs/rules/controlling-rules.md
Labels: lgtm, size/XS, dco-signoff: yes, approved

#1076 adds the missing link
  content/en/blog/falco-mitre-attack/index.md
Labels: lgtm, size/XS, dco-signoff: yes, approved, area/blog

#1080 fix(events): time of Falco workshop
  data/en/events.yaml
Labels: lgtm, dco-signoff: yes, approved, size/M, area/community, kind/event

#1071 fix(doc): missing step in try falco tutorial
  content/en/docs/getting-started/try-falco/try-falco-on-kubernetes/index.md
  content/en/docs/getting-started/try-falco/try-falcosidekick-on-kubernetes/index.md
Labels: kind/content, lgtm, dco-signoff: yes, approved, area/documentation, size/M

#1079 change style for glossary tooltip links
  assets/scss/_glossary.scss
Labels: kind/design, lgtm, size/XS, dco-signoff: yes, approved, area/documentation

#1085 copy edit pass for the new glossary
  content/en/docs/reference/glossary/abnormal-behavior.md
  content/en/docs/reference/glossary/alerts.md
  content/en/docs/reference/glossary/conditions.md
  content/en/docs/reference/glossary/drivers.md
  content/en/docs/reference/glossary/ebpf-probe.md
  content/en/docs/reference/glossary/ebpf.md
  content/en/docs/reference/glossary/extractor-plugins.md
  content/en/docs/reference/glossary/falco.md
  content/en/docs/reference/glossary/falcosidekick.md
  content/en/docs/reference/glossary/grpc.md
  content/en/docs/reference/glossary/kernel-module-driver.md
  content/en/docs/reference/glossary/kernel.md
  content/en/docs/reference/glossary/libscap.md
  content/en/docs/reference/glossary/libsinsp.md
  content/en/docs/reference/glossary/modern-ebpf-probe.md
  content/en/docs/reference/glossary/priorities.md
  content/en/docs/reference/glossary/reaction.md
  content/en/docs/reference/glossary/rules-file.md
  content/en/docs/reference/glossary/runtime-security.md
  content/en/docs/reference/glossary/syscalls.md
Labels: kind/cleanup, lgtm, dco-signoff: yes, approved, size/L, area/documentation

#1087 Update use-cases.md with new messaging
  content/en/about/use-cases.md
Labels: lgtm, size/XS, dco-signoff: yes, approved

#1081 add kind/event and replace area/videos with area/community
  .github/PULL_REQUEST_TEMPLATE.md
Labels: lgtm, size/XS, dco-signoff: yes, approved

#1078 refer to terms in the glossary
  content/en/docs/event-sources/kernel/_index.md
  content/en/docs/event-sources/kernel/dropped-events.md
  content/en/docs/event-sources/kernel/sample-events.md
  content/en/docs/event-sources/plugins/kubernetes-audit.md
  content/en/docs/grpc/_index.md
  content/en/docs/grpc/grpc-config.md
  content/en/docs/rules/appending.md
  content/en/docs/rules/conditions.md
  content/en/docs/rules/controlling-rules.md
  content/en/docs/rules/default-custom.md
  content/en/docs/rules/exceptions.md
  content/en/docs/rules/special-characters.md
  content/en/docs/rules/versioning.md
Labels: kind/content, lgtm, dco-signoff: yes, approved, area/documentation, size/M

#1088 cleanup: minor adjustments to style guide
  content/en/docs/rules/style-guide.md
Labels: kind/cleanup, lgtm, dco-signoff: yes, size/S, approved, area/documentation

#1077 custom rules first steps
  content/en/docs/rules/custom-ruleset.md
Labels: kind/content, lgtm, dco-signoff: yes, approved, area/documentation, size/XL

#1089 feat: add slider
  assets/scss/_utilities.scss
  content/en/about/ecosystem.md
  data/en/quotes.yaml
  i18n/en/en.yaml
  layouts/_default/baseof.html
  layouts/index.en.html
  layouts/partials/head.html
  layouts/partials/quote.html
  layouts/shortcodes/slider.html
  static/img/case-studies/phoenix/phoenix.png
  static/img/case-studies/phoenix/zsolt_nemeth.jpg
  static/img/case-studies/trendyol/emin_aktas.png
  static/img/case-studies/trendyol/furkan_tural.png
  static/img/case-studies/trendyol/trendyol.png
Labels: kind/user-interface, kind/content, lgtm, dco-signoff: yes, approved, size/L

#1092 update(readme): add explicit link to the website
  README.md
Labels: kind/cleanup, lgtm, size/XS, dco-signoff: yes, approved, area/documentation

#1093 feat: add case-studies
  assets/scss/_utilities.scss
  config/_default/config.toml
  content/en/about/case-studies/_index.md
  content/en/about/case-studies/r6-security/_index.md
  content/en/about/case-studies/trendyol/_index.md
  content/en/about/ecosystem.md
  data/en/quotes.yaml
  layouts/index.en.html
  layouts/partials/quote.html
  layouts/shortcodes/slider.html
  static/img/case-studies/phoenix/phoenix_workflow.png
  static/img/case-studies/trendyol/log-processing.png
Labels: kind/design, kind/user-interface, kind/content, lgtm, dco-signoff: yes, approved, size/XL

#1095 Update _index.md with new messaging
  content/en/about/_index.md
Labels: kind/cleanup, lgtm, size/XS, dco-signoff: yes, approved, area/documentation

#1098 updating minor details and fixing typos
  content/en/docs/getting-started/kubernetes-quickstart.md
  content/en/docs/getting-started/linux-quickstart.md
Labels: kind/content, lgtm, dco-signoff: yes, approved, size/L, area/documentation

#1094 cleanup: enhance info wrt output fields in style guide
  content/en/docs/rules/style-guide.md
Labels: kind/cleanup, lgtm, dco-signoff: yes, approved, area/documentation, size/M

#1104 Update ecosystem.md
  content/en/about/ecosystem.md
Labels: kind/content, lgtm, size/XS, dco-signoff: yes, approved

#1105 cleanup: adjust output fields in style guide
  content/en/docs/rules/style-guide.md
Labels: kind/content, lgtm, size/XS, dco-signoff: yes, approved, area/documentation

#1109 fix(case-study): missing word in R6 Security case study
  content/en/about/case-studies/r6-security/index.md
Labels: kind/content, lgtm, size/XS, dco-signoff: yes, approved

#1106 new: add dedication rules adoption in production guide
  content/en/docs/rules/adoption-rules.md
Labels: kind/content, lgtm, dco-signoff: yes, approved, area/documentation, size/M

#1103 falcosidekick 2.28.0
  content/en/blog/falcosidekick-2-28-0/images/falcosidekick-docker-pulls-last-year.png
  content/en/blog/falcosidekick-2-28-0/images/falcosidekick-docker-pulls.png
  content/en/blog/falcosidekick-2-28-0/images/falcosidekick-featured.png
  content/en/blog/falcosidekick-2-28-0/images/falcosidekick-grafana-oncall.png
  content/en/blog/falcosidekick-2-28-0/images/falcosidekick-n8n.png
  content/en/blog/falcosidekick-2-28-0/images/falcosidekick-openobserve.png
  content/en/blog/falcosidekick-2-28-0/images/falcosidekick-telegram.png
  content/en/blog/falcosidekick-2-28-0/index.md
Labels: kind/content, lgtm, dco-signoff: yes, approved, size/L, area/documentation

#1111 update(docs): add instructions for systemctl
  content/en/docs/install-operate/installation.md
Labels: kind/content, lgtm, dco-signoff: yes, approved, area/documentation, size/M

#1112 added cleanup instructions, fixed formatting for consistency
  content/en/docs/getting-started/linux-quickstart.md
Labels: kind/cleanup, lgtm, dco-signoff: yes, approved, area/documentation, size/M
