Repository falcosecurity/falco-website, pull requests merged in 2024-10, with the labels that each got.

#1388 chore(website): update to version 0.39.0
  config/_default/versions/params.yaml
Labels: kind/content, lgtm, dco-signoff: yes, size/S, approved, area/documentation

#1366 update(falco-metrics): falco metrics 0.39.0
  content/en/docs/metrics/falco-metrics.md
Labels: kind/cleanup, lgtm, dco-signoff: yes, approved, area/documentation, size/XXL

#1369 new(docs): add regex and basename documentation
  content/en/docs/rules/conditions.md
Labels: kind/content, lgtm, size/XS, dco-signoff: yes, approved, area/documentation

#1386 update(docs): remove references to -D -T -t
  content/en/docs/rules/controlling-rules.md
Labels: kind/cleanup, lgtm, dco-signoff: yes, size/S, approved, area/documentation

#1384 new(blog): add blog for Falco 0.39.0
  content/en/blog/falco-0-39-0/index.md
Labels: lgtm, dco-signoff: yes, approved, size/L, area/blog

#1390 fix(config): typo (but in archive branch)
  config/_default/versions/params.yaml
Labels: kind/bug, lgtm, size/XS, dco-signoff: yes, approved, area/documentation

#1389 fix(config): typo
  config/_default/versions/params.yaml
Labels: kind/bug, lgtm, size/XS, dco-signoff: yes, approved, area/documentation

#1392 docs(content): update metrics to reflect 0.39 changes
  content/en/docs/metrics/falco-metrics.md
Labels: kind/content, lgtm, dco-signoff: yes, approved, size/L, area/documentation

#1391 fix(docs): remove references to broken -o variant
  content/en/blog/falco-0-39-0/index.md
  content/en/docs/outputs/formatting.md
Labels: kind/bug, lgtm, dco-signoff: yes, size/S, approved, area/blog, area/documentation

#1394 new(content): blog post for Falco 0.39.1.
  content/en/blog/falco-0-39-1/index.md
Labels: kind/content, lgtm, dco-signoff: yes, approved, area/blog, size/M

#1393 update(config): bump Falco version to 0.39.1.
  config/_default/versions/params.yaml
Labels: kind/cleanup, lgtm, size/XS, dco-signoff: yes, approved, area/documentation

#1397 new(content/blog): add post about falco + k8s-metacollector + k8smeta
  content/en/blog/falco-k8smeta-plugin/index.md
Labels: lgtm, dco-signoff: yes, approved, size/L

#1400 docs(content/en/docs/rules/conditions): quote regex arg for better sy…
  content/en/docs/rules/conditions.md
Labels: kind/content, lgtm, size/XS, dco-signoff: yes, approved, area/documentation

#1402 update(docs): update systemd-related doc for Falco 0.39.1
  content/en/docs/setup/packages.md
Labels: kind/content, lgtm, dco-signoff: yes, approved, area/documentation, size/M

#1403 CNCF Live Upcoming Event Added to Events Page
  data/en/events.yaml
Labels: lgtm, dco-signoff: yes, size/S, approved, area/community, kind/event

#1404 Falco upcoming events
  data/en/events.yaml
Labels: lgtm, dco-signoff: yes, approved, size/M, area/community, kind/event

#1396 update(docs): add list indication for list field
  content/en/docs/reference/rules/supported-fields/supported-fields.md
Labels: kind/bug, lgtm, size/XS, dco-signoff: yes, approved, area/documentation
