Repository falcosecurity/falco-website, pull requests merged in 2024-06, with the labels that each got.

#1328 cleanup(metrics): improve prometheus and plugin metrics info
  content/en/docs/metrics/falco-metrics.md
Labels: kind/cleanup, lgtm, dco-signoff: yes, approved, size/L, area/documentation

#1330 new(content): added Falco 0.38.1 blog post.
  content/en/blog/falco-0-38-1/index.md
Labels: kind/content, lgtm, dco-signoff: yes, approved, area/blog, size/M

#1332 chore(config): update Falco version number for 0.38.1
  config/_default/versions/params.yaml
Labels: kind/cleanup, lgtm, size/XS, dco-signoff: yes, approved

#1331 update: plugin API reference to version 3.6.0
  content/en/docs/metrics/falco-metrics.md
  content/en/docs/reference/plugins/plugin-api-reference.md
Labels: kind/content, lgtm, dco-signoff: yes, approved, size/L, area/documentation
