Repository falcosecurity/falco-website, pull requests merged in 2024-03, with the labels that each got.

#1283 docs(content/blog): adding quote
  content/en/blog/falco-graduation/index.md
Labels: kind/content, lgtm, size/XS, dco-signoff: yes, approved, area/blog

#1286 cleanup: add notice of few metric names changes for Falco 0.38.0
  content/en/docs/metrics/falco-metrics.md
Labels: kind/cleanup, kind/content, lgtm, dco-signoff: yes, size/S, approved, area/documentation

#1288 add Incepto Medical Case Study
  content/en/about/case-studies/incepto-medical/index.md
  data/en/quotes.yaml
  static/img/case-studies/incepto-medical/alexandre_lemaresquier.png
  static/img/case-studies/incepto-medical/incepto-medical.png
Labels: kind/content, lgtm, dco-signoff: yes, approved, size/M, area/community

#1289 remove useless titles
  content/en/about/case-studies/incepto-medical/index.md
  content/en/about/case-studies/r6-security/index.md
Labels: kind/cleanup, lgtm, size/XS, dco-signoff: yes, approved, area/community

#1292 new(content): added falco weekly 10 2024 blog post.
  content/en/blog/falco-week-10-2024/index.md
Labels: kind/content, lgtm, dco-signoff: yes, approved, area/blog, size/M

#1293 fix(docs): fix run eBPF Docker command
  content/en/docs/install-operate/running/index.md
Labels: kind/bug, lgtm, size/XS, dco-signoff: yes, approved, area/documentation

#1297 new(docs): add roadmap page
  config/_default/config.toml
  content/en/docs/roadmap.md
Labels: kind/content, lgtm, dco-signoff: yes, approved, area/documentation, size/M

#1301 update(docs): fixed command for running privileged ebpf falco docker.
  content/en/docs/install-operate/running/index.md
Labels: lgtm, size/XS, dco-signoff: yes, approved, area/documentation

#1300 fix(docs): update build instructions for Ubuntu
  content/en/docs/install-operate/source.md
Labels: kind/cleanup, lgtm, dco-signoff: yes, size/S, approved, area/documentation

#1305 Update falco-m1.md, use modern-bpf for helm
  content/en/blog/falco-m1.md
Labels: kind/content, lgtm, size/XS, dco-signoff: yes, approved, area/blog
