Repository falcosecurity/falco-website, pull requests merged in 2024-05, with the labels that each got.

#1314 update(docs): remove all announcements
  data/en/announcements/announcement.yaml
  data/en/announcements/graduation.yaml
  data/en/announcements/kubecon-eu.yaml
Labels: kind/cleanup, lgtm, dco-signoff: yes, size/S, approved, area/documentation

#1327 update(config): configure for 0.38.0
  config/_default/versions/params.yaml
Labels: kind/cleanup, lgtm, dco-signoff: yes, size/S, approved, area/documentation

#1318 chore: add new Prometheus endpoint information
  content/en/docs/metrics/falco-metrics.md
Labels: kind/content, lgtm, dco-signoff: yes, approved, area/documentation, size/M

#1319 new(docs): add docs for transform operators and val()
  content/en/docs/rules/basic-elements.md
  content/en/docs/rules/conditions.md
Labels: lgtm, dco-signoff: yes, approved, area/documentation, size/M

#1317 new(docs): add rule selection documentation
  content/en/docs/rules/controlling-rules.md
Labels: kind/content, lgtm, dco-signoff: yes, approved, area/documentation, size/M

#1320 update(content): add documentation on subkey new items and config_files
  content/en/docs/reference/daemon/config-options/index.md
Labels: kind/content, lgtm, dco-signoff: yes, size/S, approved, area/documentation

#1326 update(content): update supported fields and events for Falco 0.38.0
  content/en/docs/reference/rules/supported-events/supported-events.md
  content/en/docs/reference/rules/supported-fields/supported-fields.md
Labels: kind/content, lgtm, dco-signoff: yes, approved, size/L, area/documentation

#1325 cleanup(metrics): update example outputs for falco 0.38.0
  content/en/docs/metrics/falco-metrics.md
Labels: kind/content, lgtm, dco-signoff: yes, approved, area/documentation, size/XXL
