Repository falcosecurity/falco-website, pull requests merged in 2024-07, with the labels that each got.

#1334 blog post falcosidekick 2.29.0
  content/en/blog/falcosidekick-2-29-0/images/dynatrace.png
  content/en/blog/falcosidekick-2-29-0/images/falco-talon.png
  content/en/blog/falcosidekick-2-29-0/images/falcosidekick-docker-pulls.png
  content/en/blog/falcosidekick-2-29-0/images/falcosidekick-featured.png
  content/en/blog/falcosidekick-2-29-0/images/otlp-traces.png
  content/en/blog/falcosidekick-2-29-0/images/quickwit.png
  content/en/blog/falcosidekick-2-29-0/images/sumologic.png
  content/en/blog/falcosidekick-2-29-0/index.md
Labels: kind/content, lgtm, dco-signoff: yes, approved, size/L, area/blog

#1338 Change driver mention in Kubernetes quickstart to modern_ebpf
  content/en/docs/getting-started/kubernetes-quickstart.md
Labels: lgtm, size/XS, dco-signoff: yes, approved

#1342 Fix: Corrected typos in gsoc-blog
  content/en/blog/gsoc2023-week2/index.md
  content/en/blog/gsoc2023/index.md
Labels: kind/content, lgtm, size/XS, dco-signoff: yes, approved

#1340 blog post falco + talos
  content/en/blog/talos/images/talos-featured.png
  content/en/blog/talos/images/ui.png
  content/en/blog/talos/index.md
Labels: kind/content, lgtm, dco-signoff: yes, approved, area/blog, size/XL

#1336 Fix Policy report link
  content/en/docs/outputs/forwarding.md
Labels: lgtm, size/XS, dco-signoff: yes, approved

#1344 add new outputs for falcosidekick 2.29
  content/en/docs/outputs/forwarding.md
Labels: kind/content, lgtm, size/XS, dco-signoff: yes, approved, area/documentation

#1343 Added a new blog about my gsoc progress so far
  content/en/blog/gsoc2024/images/falco-gsoc-featured.jpg
  content/en/blog/gsoc2024/index.md
Labels: kind/content, lgtm, dco-signoff: yes, approved, size/L, area/blog
