Repository falcosecurity/falco-website, pull requests merged in 2024-09, with the labels that each got.

#1357 chore(content): remove unmaintained tutorials section
  content/en/docs/getting-started/additional-resources.md
  content/en/docs/tutorials/_index.md
  content/en/docs/tutorials/add-prebuilt-driver-config/index.md
Labels: kind/cleanup, lgtm, dco-signoff: yes, approved, size/L

#1372 update(docs): update Linux quickstart tutorial to work with Ubuntu 24.04
  content/en/docs/getting-started/linux-quickstart.md
Labels: kind/content, lgtm, dco-signoff: yes, approved, area/documentation, size/M

#1374 fix(docs): fix setup on containerized environment
  content/en/docs/setup/container.md
Labels: kind/content, lgtm, dco-signoff: yes, size/S, approved, area/documentation

#1375 fix(docs): fix package installation style and description
  content/en/docs/setup/packages.md
Labels: kind/content, lgtm, dco-signoff: yes, approved, area/documentation, size/M

#1379 fix(docs): fix command to retrieve Falco pid for hot reloading
  content/en/docs/setup/tarball.md
Labels: kind/content, lgtm, size/XS, dco-signoff: yes, approved, area/documentation

#1382 update(docs): rephrase and update rule override doc
  content/en/docs/rules/overriding.md
Labels: kind/cleanup, kind/content, lgtm, dco-signoff: yes, approved, area/documentation, size/M

#1383 fix(docs): fix rules exceptions doc typos and style and update to new override technique
  content/en/docs/rules/exceptions.md
Labels: lgtm, dco-signoff: yes, approved, size/M

#1385 fix(docs): fix typos and style in outputs doc
  content/en/docs/outputs/_index.md
  content/en/docs/outputs/channels.md
Labels: kind/content, lgtm, dco-signoff: yes, approved, area/documentation, size/M
