Repository falcosecurity/falco-website, pull requests merged in 2025-03, with the labels that each got.

#1452 Update basic-elements.md
  content/en/docs/concepts/rules/basic-elements.md
Labels: lgtm, size/XS, dco-signoff: yes, approved

#1454 fix: broken links for AKS audit logs
  content/en/blog/falco-aks-audit-logs-plugin/index.md
Labels: lgtm, dco-signoff: yes, size/S, approved

#1456 update: falco-exporter clean up and deprecation
  content/en/docs/_index.md
  content/en/docs/concepts/outputs/channels.md
  content/en/docs/reference/glossary/falco-exporter.md
Labels: kind/cleanup, kind/content, lgtm, size/XS, dco-signoff: yes, approved, area/documentation

#1461 Add blog post on Falco Actions to detect supply chain attacks
  content/en/blog/detecting-supplychain-attacks-with-falco-action/index.md
Labels: kind/content, lgtm, dco-signoff: yes, approved, size/L, area/blog
